venv/
.pylintrc
__pycache__/
.vscode
.idea
db.sqlite3
.env
applications_for_admin_rights/migrations/*
bookmarks/migrations/*
events_available/migrations/*
events_calendar/migrations/*
events_cultural/migrations/*
main/migrations/*
personal/migrations/*
users/migrations/*
.gitingnore

