venv/
.pylintrc
__pycache__/
.vscode
.idea
db.sqlite3
.env
applications_for_admin_rights/migrations/*
bookmarks/migrations/*
events_available/migrations/*
events_calendar/migrations/*
events_cultural/migrations/*
main/migrations/*
personal/migrations/*
users/migrations/*
run_django_linux.py
run_django_windows.py
setup_and_run_linux.py
setup_and_run_windows.py
fixtures/users_test.json
load_fixtures.py
.gitingnore
media/*
staticfiles/*
Structure.xlsx
~$Structure.xlsx
.~lock.Structure.xlsx#