version: '3'

services:
  db:
    image: postgres:12.4
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    restart: always
    env_file:
      - ./.env

  backend:
    image: la5er/events:latest
    command: gunicorn SGUevents.wsgi:application --bind 0.0.0.0:8887
    restart: always
    volumes:
      - static_value:/code/staticfiles/
    depends_on:
      - db
    env_file:
      - ./.env
    ports:
      - "8887:8887"

  bot:
    image: la5er/events:latest
    command: python /code/bot/main.py
    restart: always
    depends_on:
      - db
    env_file:
      - ./.env

  nginx:
    image: nginx:1.19.3
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - static_value:/code/staticfiles/
      - ./nginx.conf/default.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
    restart: always
    depends_on:
      - backend
      - bot

volumes:
  postgres_data:
  static_value:
