version: '3'

services:

  db:
    image: postgres:12.4
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    restart: always
    env_file:
      - ./.env
  backend:
    image: la5er/events:latest
    restart: always
    volumes:
      - static_value:/code/static/
    depends_on:
      - db
    env_file:
      - ./.env
  nginx:
    image: nginx:1.19.3
    ports:
      - 8889:80
    volumes:
      - static_value:/static/
      - ./nginx.conf/default.conf:/etc/nginx/conf.d/default.conf
    restart: always
    depends_on:
      - backend


volumes:
  postgres_data:
  static_value:
