{% extends 'events/base.html' %}
{% load static %}
{% load events_available_tags %}
{% block title %} <title>Онлайн мероприятия</title> {% endblock %}


{% block sort %}
<!-- Секция сортировки -->
<div id="sort-section" class="dropdown-menu bg-dark" style="display: none; width: 100px">
    <form action="" method="get">
        <div class="form-check text-white mx-3">
            <input class="form-check-input" type="radio" name="order_by" id="sort-time-default" value="default" {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %}>
            <label class="form-check-label" for="sort-time-default">По умолчанию</label>
        </div>

        <h6 class="dropdown-header text-white">Сортировка по времени</h6>

        <div class="form-check text-white mx-3">
            <input class="form-check-input" type="radio" name="order_by" id="sort-time-earlier" value="time_start" {% if request.GET.order_by == 'time_start' %}checked{% endif %}>
            <label class="form-check-label" for="sort-time-earlier">Раньше</label>
        </div>
        <div class="form-check text-white mx-3">
            <input class="form-check-input" type="radio" name="order_by" id="sort-time-later" value="-time_start" {% if request.GET.order_by == '-time_start' %}checked{% endif %}>
            <label class="form-check-label" for="sort-time-later">Позже</label>
        </div>

        <h6 class="dropdown-header text-white">Сортировка по дате</h6>
        
        <div class="form-check text-white mx-3">
            <input class="form-check-input" type="radio" name="order_by" id="sort-date-newest" value="-date" {% if request.GET.order_by == '-date' %}checked{% endif %}>
            <label class="form-check-label" for="sort-date-newest">Сначала новые</label>
        </div>
        <div class="form-check text-white mx-3">
            <input class="form-check-input" type="radio" name="order_by" id="sort-date-oldest" value="date" {% if request.GET.order_by == 'date' %}checked{% endif %}>
            <label class="form-check-label" for="sort-date-oldest">Сначала старые</label>
        </div>
        

        <!-- Передаем активные фильтры (исключаем текущий параметр сортировки) -->
        {% for key, value in request.GET.items %}
            {% if key != 'order_by' %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endif %}
        {% endfor %}

        <!-- Кнопка для применения сортировки -->
        <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
    </form>
</div>
{% endblock sort %}

{% block content %}

<!-- Контент на странице -->
<div class="button-substrate">

    {% if events.date >= now or request.user in events.member.all %}
        {% if events.id in registered %}
            <a href="#" class="btn btn-remove_app" data-event-id="{{ registered|get_item:events.id }}">
                Отмена регистрации
            </a>
        {% else %}
            <a href="#" class="btn btn-sent_app" data-event-slug="{{ events.slug }}">
                Регистрация
            </a>
        {% endif %}
    {% else %}
        <span class="btn btn-secondary">Регистрация закрыта</span>
    {% endif %}

    <button class="btn btn-comment" data-event-id="{{ events.id }}" data-model-type="online">Оставить отзыв</button>
</div>

{% endblock content %}



{% block script_js %}
{% comment %} Автокомплит для фильтра по названию: {% endcomment %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const input = document.getElementById('event-name-search');
        const resultsContainer = document.getElementById('autocomplete-results');
        const form = input.closest('form');

        input.addEventListener('input', function() {
            const query = input.value;

            if (query.length >= 2) {
                fetch(`/events_available/autocomplete/event-name/?term=${query}`)
                    .then(response => response.json())
                    .then(data => {
                        resultsContainer.innerHTML = '';
                        if (data.length === 0) {
                            resultsContainer.innerHTML = '<div class="autocomplete-item">No results found</div>';
                        } else {
                            data.forEach(eventName => {
                                const option = document.createElement('div');
                                option.classList.add('autocomplete-item');
                                option.innerHTML = eventName;
                                option.addEventListener('click', function() {
                                    input.value = eventName;
                                    resultsContainer.innerHTML = '';
                                    form.submit();
                                });
                                resultsContainer.appendChild(option);
                            });
                        }
                    });
            } else {
                resultsContainer.innerHTML = '';
            }
        });
    });
</script>
{% endblock script_js %}

