body,
html {
	height: 100%;
	margin: 0;
}

.calendar-container {
	height: calc(100vh - 56px);
	display: flex;
	flex-direction: column;
}

#calendar {
	flex-grow: 1;
}

.fc-day-grid-event .fc-time,
.fc-day-grid-event .fc-title {
	white-space: normal;
}

.fc-today {
	background-color: rgb(112, 176, 255) !important;
}

.fc-event {
	color: white !important;
	/* Цвет текста */
}

.fc-toolbar h2 {
	text-transform: capitalize;
}

/* Новые классы для событий */

.event-online {
	background-color: rgb(48, 121, 209);
	/* Зеленый для онлайн событий */
}

.event-offline {
	background-color: rgb(48, 121, 209);
	/* Зеленый для оффлайн событий */
}

.event-attractions {
	background-color: rgb(48, 121, 209);
	/* Зеленый для достопримечательностей */
}

.event-visiting {
	background-color: rgb(48, 121, 209);
	/* Зеленый для событий для посещения */
}

.event-registered {
	background-color: rgb(22, 0, 146) !important;
	/* Желтый для зарегистрированных */
}

.event-favorite {
	background-color: rgb(236, 40, 73) !important;
	/* Розовый для избранных */
}