/* Стили для меток и полей ввода в форме */
.form-group {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 15px;
}

.form-group label {
	flex: 0 0 20%;
	max-width: 20%;
	padding-right: 10px;
	text-align: right;
	box-sizing: border-box;
}

.form-group .form-control,
.form-group .form-select,
.form-group .custom-file-input {
	flex: 0 0 80%;
	max-width: 80%;
	box-sizing: border-box;
}

.form-group .custom-file-label {
	padding-left: 10px;
}