/* Карточка */
.d-flex .form-control {
    width: 300px;
}

.event_cards {
    box-shadow: 1px 1px 4px 1px #3e3c3c;
}

.event_cards {
	box-shadow: 1px 1px 4px 1px #3e3c3c;
}

 /* Поле фотографии */	
 .btn-favorites {
	position: absolute;
	border-radius: 50%;
	background-color: white;
	top: 0.4rem;
	left: 0.5rem;
}
	
.btn-favorites>img {
	width: 1rem;
}

	/* Информация под фотографией */
.card-img-info p {
	font-weight: bold;
}

.card-img-info {
    display: inline-block;
    text-align: justify;
}

.card-title {
	color: #dc3545;
	font-weight: bold;
}



    /* Область карточки с описанием */

	/* Заголовок */
.card-body .card-title {
	color: #dc3545;
	font-weight: bold;
}
	/* Дата */
.col-md-8 .card-date {
	font-size: 0.85rem;
}
	/* Время */
.col-md-8 .card-date .card-time {
	padding-left: 0.5rem;
	font-size: 0.7rem;
}
	/* Кнопки */
.btn-registration {
	position: absolute;
	bottom: 20px;
	right: 230px;
	width: 155px;
	height: 45px;
	border-radius: 40px;
	font-size: 0.76rem;
}

.btn-canel-registration {
	position: absolute;
	bottom: 20px;
	right: 50px;
	width: 155px;
	height: 45px;
	border-radius: 40px;
	border: 0.5px #dc3545 solid;
	font-size: 0.73rem;
	text-align: center;
	padding-bottom: 0.375rem;
	font-family: Poppins, serif;
}

.btn-canel-registration:hover {
	border-color: #b02a37;
}

.btn-light.btn-canel-registration:active {
	border: 0.5px #a52834 solid;
}