.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

/* .nav-link:hover {
    color: rgb(187, 175, 175);
}

.dropdown-toggle:hover {
    color: rgb(187, 175, 175);
} */

/* .filter-events-row {
    text-align: center;
    border-style: solid;
} */
