/* @import url(https://fonts.googleapis.com/css?family=Poppins&display=swap); */

body {
    /* font-family: Poppins, serif; */
    /* background: linear-gradient(341deg, #8ff0a4 14%, #ffffff 71%); */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(348deg, #62a0ea 5%, #ffffff 86%);
}

/* Навигационная панель */

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #959595;
    /* Светло-серый цвет при наведении */
}

.nav-link:active {
    color: #959595;
    /* Светло-серый цвет при нажатии */
}

.nav-item.dropdown:hover>.nav-link {
    color: #959595;
}

/*  */


/* Пагинация */
.pagination {
    margin-top: 1rem;
}

/*  */