{% extends 'events/base.html' %} 
{% load static %} 
{% load events_cultural_tags %} 
{% block title %} <title>Доступные к посещению</title> {% endblock %}

{% block filters %}
    <div class="col-lg-9 col-md-9 col-9 namepage-vis align-items-center">
        <h2>{{ name_page }}</h2>
    </div>

    <div class="col-lg-3 col-md-3 col-3 filters-flex text-end d-flex justify-content-end align-items-center">
        <!-- Кнопка сброса фильтров, скрыта по умолчанию -->
        <div id="reset-filters-container" class="me-2" style="display: none;">
            <form action="{% url 'events_cultural:events_for_visiting' %}" method="get">
                <button class="btn btn-primary" type="submit">Сбросить</button>
            </form>
        </div>

        <!-- Кнопка для открытия фильтров -->
        <button id="filter-toggle" class="btn btn-primary me-2">
            <img src="{% static 'general/icons/filters.png' %}" alt="Фильтры" style="width: 24px; height: 24px;">
        </button>

        <!-- Кнопка для сортировки -->
        <button id="sort-toggle" class="btn btn-primary">
            <img src="{% static 'general/icons/sort.png' %}" alt="Сортировка" style="width: 24px; height: 24px;">
        </button>
    </div>

<!-- Секция фильтров -->
<div id="filter-section" class="row filter-events-row mt-2" style="display: none;">
    <!-- Фильтр по названию с автокомплитом -->
    <div class="col-lg-2">
			<div class="dropdown">
                {% if request.GET.name_search %}
                    <button class="btn btn-info dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% else %}
                    <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% endif %}
							Название
					</button>
					<form action="" method="get" class="dropdown-menu bg-dark w-100" data-bs-theme="dark" data-is-attractions="true">
							<div class="form-check text-white">
									<input class="form-control me-3" type="search" id="event-name-search" name="name_search" placeholder="Введите название">
							</div>
							<!-- Контейнер для отображения результатов автокомплита -->
							<div id="autocomplete-results" class="autocomplete-results"></div>
							<div class="text-center">
									<button class="btn btn-outline-success" type="submit">Применить</button>
							</div>
					</form>
			</div>
	</div>
	
    <!-- Фильтр по дате с Flatpickr -->
    <div class="col-lg-2">
        <div class="dropdown">
            {% if request.GET.date_start or request.GET.date_end %}
                <button class="btn btn-info dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dateFilterButton">
            {% else %}
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dateFilterButton">
            {% endif %}
                Дата
            </button>
            <form action="" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark" id="dateDropdown">
                <div class="form-check text-white">
                    Дата начала <br/>
                    <label class="form-check-label" for="date_start">
                        <input type="text" id="date_start" name="date_start" value="{{ date_start|default_if_none:'' }}" placeholder="дд/мм/гггг">
                    </label>
                </div>
                <div class="form-check text-white">
                    Дата окончания <br/>
                    <label class="form-check-label" for="date_end">
                        <input type="text" id="date_end" name="date_end" value="{{ date_end|default_if_none:'' }}" placeholder="дд/мм/гггг">
                    </label>
                </div>

                <!-- Сохранение остальных фильтров -->
                {% for key, value in request.GET.items %}
                    {% if key != 'date_start' and key != 'date_end' %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}

                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-3">Применить</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Фильтр по времени -->
    <div class="col-lg-2">
        <div class="dropdown">
            {% if request.GET.time_to_start or request.GET.time_to_end  %}       
                <button class="btn btn-info dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% else %}
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% endif %}
                Время
            </button>
            <form action="" method="get" class="dropdown-menu bg-dark dropdown-menu-custom" data-bs-theme="dark">
                <div class="form-check text-white">
                    Время начала <br/>
                    <label class="form-check-label" for="time_to_start">
                        <input type="time" id="time_to_start" name="time_to_start" value="{{ time_to_start|default_if_none:'' }}">
                    </label>
                </div>
                <div class="form-check text-white">
                    Время окончания <br/>
                    <label class="form-check-label" for="time_to_end">
                        <input type="time" id="time_to_end" name="time_to_end" value="{{ time_to_end|default_if_none:'' }}">
                    </label>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-3">Применить</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Фильтр по тегам -->
    <div class="col-lg-2">
        <div class="dropdown">
            {% if request.GET.f_tags == tag %}
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% else %}
                <button class="btn btn-info dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% endif %}
                Теги
            </button>
            <form action="" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark" style="max-height: 200px; overflow-y: auto; width:170px;">
                <div class="form-check text-white" style="margin-left: 15px; margin-right:15px;">
                    <input class="form-control w-100" id="search-tags" type="text" placeholder="Поиск тегов..." style="height: 35px;">
                </div>

                <!-- Список тегов -->
                <div id="tags-list">
                    {% for tag in tags %}
                        <div class="form-check text-white mx-3 tag-item">
                            <input class="form-check-input" type="checkbox" name="f_tags" id="flexCheckDefault{{ forloop.counter }}" value="{{ tag }}" {% if request.GET.f_tags == tag %}checked{% endif %}>
                            <label class="form-check-label" for="flexCheckDefault{{ forloop.counter }}">{{ tag }}</label>
                        </div>
                    {% endfor %}
                </div>

                <!-- Сохранение остальных фильтров -->
                {% for key, value in request.GET.items %}
                    {% if key != 'f_tags' %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}

                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-3">Применить</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock filters %}

{% block sort %}
<!-- Секция сортировки -->
<div id="sort-section" class="dropdown-menu bg-dark" style="display: none; width: 100px">
    <form action="" method="get">
        <div class="form-check text-white mx-3">
            <input class="form-check-input" type="radio" name="order_by" id="sort-time-default" value="default" {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %}>
            <label class="form-check-label" for="sort-time-default">По умолчанию</label>
        </div>

        <h6 class="dropdown-header text-white">Сортировка по времени</h6>

        <div class="form-check text-white mx-3">
            <input class="form-check-input" type="radio" name="order_by" id="sort-time-earlier" value="time_start" {% if request.GET.order_by == 'time_start' %}checked{% endif %}>
            <label class="form-check-label" for="sort-time-earlier">Раньше</label>
        </div>
        <div class="form-check text-white mx-3">
            <input class="form-check-input" type="radio" name="order_by" id="sort-time-later" value="-time_start" {% if request.GET.order_by == '-time_start' %}checked{% endif %}>
            <label class="form-check-label" for="sort-time-later">Позже</label>
        </div>

        <h6 class="dropdown-header text-white">Сортировка по дате</h6>
        
        <div class="form-check text-white mx-3">
            <input class="form-check-input" type="radio" name="order_by" id="sort-date-newest" value="-date" {% if request.GET.order_by == '-date' %}checked{% endif %}>
            <label class="form-check-label" for="sort-date-newest">Сначала новые</label>
        </div>
        <div class="form-check text-white mx-3">
            <input class="form-check-input" type="radio" name="order_by" id="sort-date-oldest" value="date" {% if request.GET.order_by == 'date' %}checked{% endif %}>
            <label class="form-check-label" for="sort-date-oldest">Сначала старые</label>
        </div>
        

        <!-- Передаем активные фильтры (исключаем текущий параметр сортировки) -->
        {% for key, value in request.GET.items %}
            {% if key != 'order_by' %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endif %}
        {% endfor %}

        <!-- Кнопка для применения сортировки -->
        <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
    </form>
</div>
{% endblock sort %}

{% block content %}
<!-- Контент на странице -->
<div class="button-substrate">

    {% if events.date >= now and events.place_free > 0 or request.user in events.member.all %}
        {% if events.id in registered %}
            <a href="#" class="btn btn-remove_app" data-event-id="{{ registered|get_item:events.id }}">
                Отмена регистрации
            </a>
        {% else %}
            <a href="#" class="btn btn-sent_app" data-event-slug="{{ events.slug }}">
                Регистрация
            </a>
        {% endif %}
    {% else %}
        <span class="btn btn-secondary">Регистрация закрыта</span>
    {% endif %}

    <button class="btn btn-comment" data-event-id="{{ events.id }}" data-model-type="for_visiting">Оставить отзыв</button>
</div>
{% endblock content %}

{% block script_js %}

{% comment %} АВТОКОМПЛИТ В ФИЛЬТРЕ НАЗВАНИЯХ {% endcomment %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const input = document.getElementById('event-name-search');
        const resultsContainer = document.getElementById('autocomplete-results');
        const form = input.closest('form');  // Получаем форму, в которой находится поле ввода

        input.addEventListener('input', function() {
            const query = input.value;

            // Определяем, находимся ли мы на странице оффлайн или онлайн мероприятий
            const isAttractions = window.location.pathname.includes('attractions'); // Определяем по URL

            if (query.length >= 2) {  // Автокомплит начинает работать после ввода двух символов
                fetch(`/events_cultural/autocomplete/event-name/?term=${query}&is_attractions=${isAttractions}`)
                    .then(response => response.json())
                    .then(data => {
                        resultsContainer.innerHTML = '';  // Очищаем старые результаты
                        if (data.length === 0) {
                            resultsContainer.innerHTML = '<div class="autocomplete-item">No results found</div>';
                        } else {
                            data.forEach(eventName => {
                                const option = document.createElement('div');
                                option.classList.add('autocomplete-item');
                                option.innerHTML = eventName;
                                option.addEventListener('click', function() {
                                    input.value = eventName;  // При выборе названия заполняем поле
                                    resultsContainer.innerHTML = '';  // Очищаем результаты
                                    form.submit();  // Автоматически отправляем форму
                                });
                                resultsContainer.appendChild(option);
                            });
                        }
                    });
            } else {
                resultsContainer.innerHTML = '';  // Если меньше двух символов, очищаем результаты
            }
        });
    });
</script>
{% endblock script_js %}

