{% extends 'events/base.html' %}
{% load static %}
{% load bookmarks_tags %}
{% user_favorites request as event_card_views %}
{% block title %} <title>Избранные мероприятия</title> {% endblock %} 
{% block favorite %}   
    {% for favorite in favorites %}
        <div class="row mb-3 events">
            <div class="col-lg-1 feed-left-column"></div>

            <div class="col-lg-10 cards">
                <div class="card">
                    <div class="row event">
                        {% with favorite.online|default:favorite.offline|default:favorite.attractions|default:favorite.for_visiting as item %}
                            {% if item %}
                                <div class="col-lg-5 col-md-5 col-sm-5 event-preview-photo">
                                    <a href="{% url 'bookmarks:events_remove' item.slug %}" class="remove-from-favorites" data-event-slug="{{ item.slug }}">
                                        <!-- Белое (пустое) сердце -->
                                        <img class="heart-icon {% if item.slug in liked %}hidden{% endif %}"
                                        src="{% static 'icons/heart.svg' %}"
                                        alt="Белое сердце" width="32" height="32">

                                        <!-- Красное сердце -->
                                        <img class="heart-red-icon {% if not item.slug in liked %}hidden{% endif %}"
                                            src="{% static 'icons/heart_red.png' %}"
                                            alt="Красное сердце" width="32" height="32">
                                    </a>

                                    {% if item.image %}
                                        <img src="{{ item.image.url }}" alt="" class="preview-photo">
                                    {% else %}
                                            <img src="{% static "images/no_photo.png" %}" alt="" class="preview-photo">
                                    {% endif %}

                                    <div class="rating-overlay" data-event-id="{{ item.id }}">
                                        <div class="half-stars">
                                            <div class="ranting-count">{{ reviews_avg|get_item:item.id|floatformat:1|default:"0.0" }}</div>


                                            <div class="rating-group">
                                                <!-- по умолчанию 0 -->
                                                <input disabled checked name="hsr" value="0" type="radio">

                                                <!-- рейтинг 0.5 -->
                                                <input disabled name="hsr" id="hsr1-05" value="0.5" type="radio">
                                                <label class="hsr" for="hsr1-05">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                        <path
                                                            d="M288 0c-11.4 0-22.8 5.9-28.7 17.8L194 150.2 47.9 171.4c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.1 23 46 46.4 33.7L288 439.6V0z" />
                                                    </svg>
                                                </label>

                                                <!-- рейтинг 1 -->
                                                <input disabled name="hsr" id="hsr1-10" value="1" type="radio">
                                                <label for="hsr1-10">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                        <path
                                                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                    </svg>
                                                </label>

                                                <!-- рейтинг 1.5 -->
                                                <input disabled name="hsr" id="hsr1-15" value="1.5" type="radio">
                                                <label class="hsr" for="hsr1-15">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                        <path
                                                            d="M288 0c-11.4 0-22.8 5.9-28.7 17.8L194 150.2 47.9 171.4c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.1 23 46 46.4 33.7L288 439.6V0z" />
                                                    </svg>
                                                </label>

                                                <!-- рейтинг 2 -->
                                                <input disabled name="hsr" id="hsr1-20" value="2" type="radio">
                                                <label for="hsr1-20">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                        <path
                                                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                    </svg>
                                                </label>

                                                <!-- рейтинг 2.5 -->
                                                <input disabled name="hsr" id="hsr1-25" value="2.5" type="radio">
                                                <label class="hsr" for="hsr1-25">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                        <path
                                                            d="M288 0c-11.4 0-22.8 5.9-28.7 17.8L194 150.2 47.9 171.4c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.1 23 46 46.4 33.7L288 439.6V0z" />
                                                    </svg>
                                                </label>

                                                <!-- рейтинг 3 -->
                                                <input disabled name="hsr" id="hsr1-30" value="3" type="radio">
                                                <label for="hsr1-30">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                        <path
                                                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                    </svg>
                                                </label>

                                                <!-- рейтинг 3.5 -->
                                                <input disabled name="hsr" id="hsr1-35" value="3.5" type="radio">
                                                <label class="hsr" for="hsr1-35">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                        <path
                                                            d="M288 0c-11.4 0-22.8 5.9-28.7 17.8L194 150.2 47.9 171.4c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.1 23 46 46.4 33.7L288 439.6V0z" />
                                                    </svg>
                                                </label>

                                                <!-- рейтинг 4 -->
                                                <input disabled name="hsr" id="hsr1-40" value="4" type="radio">
                                                <label for="hsr1-40">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                        <path
                                                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                    </svg>
                                                </label>

                                                <!-- рейтинг 4.5 -->
                                                <input disabled name="hsr" id="hsr1-45" value="4.5" type="radio">
                                                <label class="hsr" for="hsr1-45">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                        <path
                                                            d="M288 0c-11.4 0-22.8 5.9-28.7 17.8L194 150.2 47.9 171.4c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.1 23 46 46.4 33.7L288 439.6V0z" />
                                                    </svg>
                                                </label>

                                                <!-- рейтинг 5 -->
                                                <input disabled name="hsr" id="hsr1-50" value="5" type="radio">
                                                <label for="hsr1-50">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                        <path
                                                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="type-substrate">
                                            <div class="event-type online">
                                                {% if item.category  == 'Онлайн' %}
                                                    онлайн
                                                {% elif item.category  == 'Оффлайн' %}
                                                    оффлайн
                                                {% elif item.category  == 'Достопримечательности' %}
                                                    достопримечательности
                                                {% elif item.category  == 'Доступные к посещению' %}
                                                    для посещения
                                                {% endif %} 
                                            </div>
                                    </div>

                                    <div class="button-substrate">

                                        {% if item.date >= now or request.user in item.member.all %}
                                            {% if item.id in registered %}
                                                <a href="#" class="btn btn-remove_app" data-event-id="{{ registered|get_item:item.id }}">
                                                    Отмена регистрации
                                                </a>
                                            {% else %}
                                                <a href="#" class="btn btn-sent_app" data-event-slug="{{ item.slug }}">
                                                    Регистрация
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            <span class="btn btn-secondary">Регистрация закрыта</span>
                                        {% endif %}
                                    
                                        <button class="btn btn-comment" data-event-id="{{ item.id }}" data-model-type=
                                        {% if item.category  == 'Онлайн' %}
                                            "online"
                                        {% elif item.category  == 'Оффлайн' %}
                                            "offline"
                                        {% elif item.category  == 'Достопримечательности' %}
                                            "attractions"
                                        {% elif item.category  == 'Доступные к посещению' %}
                                            "for_visiting"
                                        {% endif %}>
                                        Оставить отзыв</button>
                                    </div>
                                    
                                </div>

                                <div class="col-lg-7 col-md-7 col-sm-7 event-preview-text">
                                    <a href="
                                        {% if favorite.online %}
                                            {% url 'events_available:online_card' item.slug %}
                                        {% elif favorite.offline %}
                                            {% url 'events_available:offline_card' item.slug %}
                                        {% elif favorite.attractions %}
                                            {% url 'events_cultural:attractions_card' item.slug %}
                                        {% elif favorite.for_visiting %}
                                            {% url 'events_cultural:events_for_visiting_card' item.slug %}
                                        {% endif %}" class="show-more">
                                        <h4 class="event-title-preview">{{ item.name|truncatechars:65 }}</h4>
                                    </a> 

                                    <div class="row">
                                        <div class="col-lg-6 col-md-5 col-sm-5 event-preview-time">
                                            <p class="preview-date">
                                                {% if item.category  != 'Достопримечательности' %}
                                                <h6 class="card-date"> 
                                                    {% if item.date != item.date_end %}
                                                        <split class="card-day"><b>{{ item.date }} - {{ item.date_end }}</b></split> 
                                                    {% else %}
                                                        <split class="card-day"><b>{{ item.date }}</b></split> 
                                                    {% endif %}
                                                </h6> 
                                            {% endif %}
                                            </p>
                                            <p class="preview-time">
                                                {% if item.time_start != item.time_end %}
                                                    <split class="card-time">{{ item.time_start }} - {{ item.time_end }}</split> 
                                                {% else %}
                                                    <split class="card-time">{{ item.time_start }}</split> 
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-5 col-sm-5 event-preview-speaker">
                                            <label for="speaker" class="preview-speaker">Спикеры:</label>
                                            {% for speaker in item.speakers.all %}
                                                {{ speaker.last_name }} {{ speaker.first_name }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="event-preview-description">
                                        <label for="" class="preview-about">О мероприятии:</label>
                                        <p class="preview-description">
                                            {% autoescape off %}
                                                {% if item.headline_description %}
                                                    {{ item.headline_description|truncatechars:200 }}
                                                {% else %}
                                                    {{ item.description|truncatechars:200 }}
                                                {% endif %}
                                            {% endautoescape %}
                                            <a href="{% if item.category  == 'Онлайн' %}
                                                {% url "events_available:online_card" item.slug %}
                                            {% elif item.category  == 'Оффлайн' %}
                                                {% url "events_available:offline_card" item.slug %}
                                            {% elif item.category  == 'Достопримечательности' %}
                                                {% url "events_cultural:attractions_card" item.slug %}
                                            {% elif item.category  == 'Доступные к посещению' %}
                                                {% url "events_cultural:events_for_visiting_card" item.slug %}
                                            {% endif %}"  class="show-more">Подробнее</a>
                                        </p>
                                    </div>

                                    <div class="preview-event-id">
                                        <div class="event-reviews-link">
                                            <a href="#" class="reviews-link" type="button" data-bs-toggle="modal"
                                                data-bs-target="#modal-{{ item.unique_id }}">Посмотреть отзывы</a>
                                        </div>
                                        <label for="event-id" class="event-id"></label>
                                        <div class="event-tags">
                                            {% if item.tags %} 
                                                {{ item.tags }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="modal-{{ item.unique_id }}" tabindex="-1" aria-labelledby="modalLabel-{{ item.unique_id }}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="modalLabel-{{ item.unique_id }}">Отзывы</h1>
                                                <button type="button" class="button-close" data-bs-dismiss="modal" aria-label="Close">
                                                    <img src="{% static "icons/close-button.png" %}" alt="">
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="reviews" data-event-id="{{ item.id }}">
                                                    {% spaceless %}
                                                        {% for review in reviews|get_item:item.unique_id %}
                                                            {% if review.event.unique_id == item.unique_id %}
                                                                <div class="existent-comment">
                                                                    <div class="existent-review">
                                                                        <div class="user-info-existent-review">
                                                                            <div class="user-icon-existent-review"> 
                                                                                {% if review.user.profile_photo %}
                                                                                    <img src="{{ review.user.profile_photo.url }}" alt="">
                                                                                {% else %}
                                                                                    <img src="{% static "icons/profile-image-default.png" %}" alt="">
                                                                                {% endif %}
                                                                            </div>
                                                                            <div class="username-existent-review">
                                                                                <div class="user-lastname">{{ review.user.username }}</div>
                                                                            </div>

                                                                            {% comment %} <div class="full-stars-com">
                                                                                <div class="rating-group-com">
                                                                                    <!-- по умолчанию 0 -->
                                                                                    <input name="fst" value="0" type="radio" disabled checked />
                                
                                                                                    <!-- рейтинг 1 -->
                                                                                    <label for="fst-1">
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                                                            <path
                                                                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                                                        </svg>
                                                                                    </label>
                                                                                    <input name="fst" id="fst-1" value="1" type="radio" />
                                
                                                                                    <!-- рейтинг 2 -->
                                                                                    <label for="fst-2">
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                                                            <path
                                                                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                                                        </svg>
                                                                                    </label>
                                                                                    <input name="fst" id="fst-2" value="2" type="radio" />
                                
                                                                                    <!-- рейтинг 3 -->
                                                                                    <label for="fst-3">
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                                                            <path
                                                                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                                                        </svg>
                                                                                    </label>
                                                                                    <input name="fst" id="fst-3" value="3" type="radio" />
                                
                                                                                    <!-- рейтинг 4 -->
                                                                                    <label for="fst-4">
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                                                            <path
                                                                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                                                        </svg>
                                                                                    </label>
                                                                                    <input name="fst" id="fst-4" value="4" type="radio" />
                                
                                                                                    <!-- рейтинг 5 -->
                                                                                    <label for="fst-5">
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                                                            <path
                                                                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                                                        </svg>
                                                                                    </label>
                                                                                    <input name="fst" id="fst-5" value="5" type="radio" />
                                                                                </div>
                                                                            </div> {% endcomment %}

                                                                            <div class="review-date-submitted">
                                                                                {{ review.formatted_date }}
                                                                            </div> 
                                                                        </div>

                                                                        <div class="review-block review-block-existent-review">

                                                                            <div class="review-text review-text-existent-review">
                                                                                {{ review.comment }}
                                                                            </div>
                                                                        </div>
                                                                    </div>                                                      
                                                                </div>
                                                                <hr class="review-divider"> 
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endspaceless %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>

            <div class="col-lg-1 right-column"></div>
        </div>
    {% endfor %}
{% endblock favorite %}
                        





    

