{% comment %} {% extends 'events/base.html' %} {% load static %} {% load bookmarks_tags %}{% user_favorites request as event_card_views %} 
{% block content %}
<ul>
    {% for favorite in favorites %}
    <li>
        {% if favorite.online %}
        <h3>{{ favorite.online.name }}</h3>
        <p>{{ favorite.online.description }}</p>
        <p>Дата: {{ favorite.online.date }}</p>
        <p>Время: {{ favorite.online.time_start }} - {{ favorite.online.time_end }}</p>
        <p>Спикеры: {{ favorite.online.speakers }}</p>
        <p>Участники: {{ favorite.online.member }}</p>
        <p>Теги: {{ favorite.online.tags }}</p>
        <p>Платформа: {{ favorite.online.platform }}</p>
        <p>Ссылка: <a href="{{ favorite.online.link }}">{{ favorite.online.link }}</a></p>
        {% if favorite.online.qr %}
        <img src="{{ favorite.online.qr.url }}" alt="QR код" />
        {% endif %} {% if favorite.online.image %}
        <img src="{{ favorite.online.image.url }}" alt="{{ favorite.online.name }}" />
        {% endif %}
        <p>Администратор: {{ favorite.online.events_admin }}</p>
        {% if favorite.online.documents %}
        <p><a href="{{ favorite.online.documents.url }}">Документы</a></p>
        {% endif %} {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock content %} {% endcomment %}
{% load static %} {% load bookmarks_tags %}{% user_favorites request as event_card_views %} 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="container-fluid">
            <h2>Избранные мероприятия</h2>
            <ul>
                {% for favorite in favorites %}
                <li>
                    {% if favorite.online %}
                    <h3>{{ favorite.online.name }}</h3>
                    <p>{{ favorite.online.description }}</p>
                    <p>Дата: {{ favorite.online.date }}</p>
                    <p>Время: {{ favorite.online.time_start }} - {{ favorite.online.time_end }}</p>
                    <p>Спикеры: {{ favorite.online.speakers }}</p>
                    <p>Участники: {{ favorite.online.member }}</p>
                    <p>Теги: {{ favorite.online.tags }}</p>
                    <p>Платформа: {{ favorite.online.platform }}</p>
                    <p>Ссылка: <a href="{{ favorite.online.link }}">{{ favorite.online.link }}</a></p>
                    {% if favorite.online.qr %}
                    <img src="{{ favorite.online.qr.url }}" alt="QR код" />
                    {% endif %} {% if favorite.online.image %}
                    <img src="{{ favorite.online.image.url }}" alt="{{ favorite.online.name }}" />
                    {% endif %}
                    <p>Администратор: {{ favorite.online.events_admin }}</p>
                    {% if favorite.online.documents %}
                    <p><a href="{{ favorite.online.documents.url }}">Документы</a></p>
                    {% endif %} {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>

