{% extends 'events/base.html' %}
{% load static %}
{% load bookmarks_tags %}
{% user_registered request as event_card_views %}
{% block register %}
<div class="container-fluid mt-0">
    <h2>Зарегистрированные</h2>
    <ul>
        {% for register in registered %}
            {% if register.online %}
                <div class="row mt-2 event_cards">
                    <div class="col-lg-12">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    {% if register.online.image %}
                                    <img src="{{ register.online.image.url }}" class="img-fluid rounded-start" alt="{{ register.online.name }}">
                                    {% else %}
                                    <img src="{% static 'general/images/img.png' %}" class="img-fluid rounded-start" alt="{{ register.online.name }}">
                                    {% endif %}
                                    <a href="{% url 'bookmarks:registered_remove' register.id %}" class="btn btn-light btn-remove_app" data-event-id="{{ register.id }}">
                                        Отмена регистрации
                                    </a>
                                    
                                    <div class="card-img-info">
                                        <p>id: {{ register.online.display_id }}</p>
                                        <p>category: {{ register.online.category }}</p>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="{% url 'events_available:online_card' register.online.slug %}">
                                                {% autoescape off %}
                                                {% if register.online.headline %}{{ register.online.headline }}{% else %}{{ register.online.name }}{% endif %}
                                                {% endautoescape %}
                                            </a>
                                        </h5>
                                        <h6 class="card-date">
                                            <split class="card-day"><b>{{ register.online.date }}</b></split>
                                            <split class="card-time">{{ register.online.time_start }} - {{ register.online.time_end }}</split>
                                        </h6>
                                        <h6 class="event-place">{{ register.online.place }}</h6>
                                        <h6 class="event-place">{{ evregister.onlineents.speakers }}</h6>
                                        {% autoescape off %}
                                        {% if register.online.bodyline %}
                                        {{ register.online.bodyline }}
                                        {% else %}
                                        <p class="card-text">{{ register.online.description|truncatechars:625 }}</p>
                                        {% endif %}
                                        {% endautoescape %}
                                        <p class="card-text">
                                            <small class="text-muted">
                                                {% if register.online.tags %}
                                                {{ register.online.tags }}
                                                {% else %}
                                                {% endif %}
                                            </small>
                                        </p>
                                        <p>
                                            {% if register.online.town %}{{ register.online.town }}{% endif %} {% if register.online.street %}{{ everegister.onlinents.street }}{% endif %} {% if register.online.cabinet %}{{ register.online.cabinet }}{% endif %}
                                        </p>
                                        <p>{{ speakers }}</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if register.offline %}
                <div class="row mt-2 event_cards">
                    <div class="col-lg-12">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    {% if register.offline.image %}
                                    <img src="{{ register.offline.image.url }}" class="img-fluid rounded-start" alt="{{ register.offline.name }}">
                                    {% else %}
                                    <img src="{% static 'general/images/img.png' %}" class="img-fluid rounded-start" alt="{{ register.offline.name }}">
                                    {% endif %}
                                    <a href="{% url 'bookmarks:registered_remove' register.id %}" class="btn btn-light btn-remove_app" data-event-id="{{ register.id }}">
                                        Отмена регистрации
                                    </a>
                                    <div class="card-img-info">
                                        <p>id: {{ register.offline.display_id }}</p>
                                        <p>category: {{ register.offline.category }}</p>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="{% url 'events_available:offline_card' register.offline.slug %}">
                                                {% autoescape off %}
                                                {% if register.offline.headline %}{{ register.offline.headline }}{% else %}{{ register.offline.name }}{% endif %}
                                                {% endautoescape %}
                                            </a>
                                        </h5>
                                        <h6 class="card-date">
                                            <split class="card-day"><b>{{ register.offline.date }}</b></split>
                                            <split class="card-time">{{ register.offline.time_start }} - {{ register.offline.time_end }}</split>
                                        </h6>
                                        <h6 class="event-place">{{ register.offline.place }}</h6>
                                        <h6 class="event-place">{{ evregister.offline.speakers }}</h6>
                                        {% autoescape off %}
                                        {% if register.offline.bodyline %}
                                        {{ register.offline.bodyline }}
                                        {% else %}
                                        <p class="card-text">{{ register.offline.description|truncatechars:625 }}</p>
                                        {% endif %}
                                        {% endautoescape %}
                                        <p class="card-text">
                                            <small class="text-muted">
                                                {% if register.offline.tags %}
                                                {{ register.offline.tags }}
                                                {% else %}
                                                {% endif %}
                                            </small>
                                        </p>
                                        <p>
                                            {% if register.offline.town %}{{ register.offline.town }}{% endif %} {% if register.offline.street %}{{ everegister.offline.street }}{% endif %} {% if register.offline.cabinet %}{{ register.offline.cabinet }}{% endif %}
                                        </p>
                                        <p>{{ speakers }}</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if register.attractions %}
                <div class="row mt-2 event_cards">
                    <div class="col-lg-12">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    {% if register.attractions.image %}
                                    <img src="{{ register.attractions.image.url }}" class="img-fluid rounded-start" alt="{{ register.attractions.name }}">
                                    {% else %}
                                    <img src="{% static 'general/images/img.png' %}" class="img-fluid rounded-start" alt="{{ register.attractions.name }}">
                                    {% endif %}
                                    <a href="{% url 'bookmarks:registered_remove' register.id %}" class="btn btn-light btn-remove_app" data-event-id="{{ register.id }}">
                                        Отмена регистрации
                                    </a>
                                    <div class="card-img-info">
                                        <p>id: {{ register.attractions.display_id }}</p>
                                        <p>category: {{ register.onliattractionsne.category }}</p>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="{% url 'events_cultural:attractions_card' register.attractions.slug %}">
                                                {% autoescape off %}
                                                {% if register.attractions.headline %}{{ register.attractions.headline }}{% else %}{{ register.attractions.name }}{% endif %}
                                                {% endautoescape %}
                                            </a>
                                        </h5>
                                        <h6 class="card-date">
                                            <split class="card-day"><b>{{ register.attractions.date }}</b></split>
                                            <split class="card-time">{{ register.attractions.time_start }} - {{ register.attractions.time_end }}</split>
                                        </h6>
                                        <h6 class="event-place">{{ register.attractions.place }}</h6>
                                        <h6 class="event-place">{{ evregister.attractions.speakers }}</h6>
                                        {% autoescape off %}
                                        {% if register.attractions.bodyline %}
                                        {{ register.attractions.bodyline }}
                                        {% else %}
                                        <p class="card-text">{{ register.attractions.description|truncatechars:625 }}</p>
                                        {% endif %}
                                        {% endautoescape %}
                                        <p class="card-text">
                                            <small class="text-muted">
                                                {% if register.attractions.tags %}
                                                {{ register.attractions.tags }}
                                                {% else %}
                                                {% endif %}
                                            </small>
                                        </p>
                                        <p>
                                            {% if register.attractions.town %}{{ register.attractions.town }}{% endif %} {% if register.attractions.street %}{{ everegister.attractions.street }}{% endif %} {% if register.attractions.cabinet %}{{ register.attractions.cabinet }}{% endif %}
                                        </p>
                                        <p>{{ speakers }}</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if register.for_visiting %}
                <div class="row mt-2 event_cards">
                    <div class="col-lg-12">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    {% if register.for_visiting.image %}
                                    <img src="{{ register.for_visiting.image.url }}" class="img-fluid rounded-start" alt="{{ register.for_visiting.name }}">
                                    {% else %}
                                    <img src="{% static 'general/images/img.png' %}" class="img-fluid rounded-start" alt="{{ register.for_visiting.name }}">
                                    {% endif %}
                                    <a href="{% url 'bookmarks:registered_remove' register.id %}" class="btn btn-light btn-remove_app" data-event-id="{{ register.id }}">
                                        Отмена регистрации
                                    </a>
                                    <div class="card-img-info">
                                        <p>id: {{ register.for_visiting.display_id }}</p>
                                        <p>category: {{ register.for_visiting.category }}</p>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="{% url 'events_cultural:events_for_visiting_card' register.for_visiting.slug %}">
                                                {% autoescape off %}
                                                {% if register.for_visiting.headline %}{{ register.for_visiting.headline }}{% else %}{{ register.for_visiting.name }}{% endif %}
                                                {% endautoescape %}
                                            </a>
                                        </h5>
                                        <h6 class="card-date">
                                            <split class="card-day"><b>{{ register.for_visiting.date }}</b></split>
                                            <split class="card-time">{{ register.for_visiting.time_start }} - {{ register.for_visiting.time_end }}</split>
                                        </h6>
                                        <h6 class="event-place">{{ register.for_visiting.place }}</h6>
                                        <h6 class="event-place">{{ evregister.for_visiting.speakers }}</h6>
                                        {% autoescape off %}
                                        {% if register.for_visiting.bodyline %}
                                        {{ register.for_visiting.bodyline }}
                                        {% else %}
                                        <p class="card-text">{{ register.for_visiting.description|truncatechars:625 }}</p>
                                        {% endif %}
                                        {% endautoescape %}
                                        <p class="card-text">
                                            <small class="text-muted">
                                                {% if register.for_visiting.tags %}
                                                {{ register.for_visiting.tags }}
                                                {% else %}
                                                {% endif %}
                                            </small>
                                        </p>
                                        <p>
                                            {% if register.for_visiting.town %}{{ register.for_visiting.town }}{% endif %} {% if register.for_visiting.street %}{{ everegister.for_visiting.street }}{% endif %} {% if register.for_visiting.cabinet %}{{ register.for_visiting.cabinet }}{% endif %}
                                        </p>
                                        <p>{{ speakers }}</p>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </ul>
</div>

{% endblock register %}
