{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Отправка сообщения участникам</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h1>Отправка сообщения участникам</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.event_type.label_tag }}<br>
            {{ form.event_type }}
        </div>
        <div class="form-group">
            {{ form.event.label_tag }}<br>
            <select name="event" id="id_event" class="form-control">
                <option value="">---------</option>
                {% for event in form.event.field.queryset %}
                    <option value="{{ event.id }}">{{ event.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            {{ form.message.label_tag }}<br>
            {{ form.message }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить сообщение</button>
    </form>
</div>

<script>
    $(document).ready(function() {
        $('#id_event_type').change(function() {
            var eventType = $(this).val();
            $.ajax({
                url: "{% url 'bookmarks:get_event_choices' %}",
                data: {
                    'event_type': eventType
                },
                success: function(data) {
                    var eventSelect = $('#id_event');
                    eventSelect.empty();
                    eventSelect.append('<option value="">---------</option>');
                    $.each(data, function(index, event) {
                        eventSelect.append('<option value="' + event.id + '">' + event.name + '</option>');
                    });
                }
            });
        });
    });
</script>
</body>
</html>
