{% extends "base.html" %}
{% load static %}
{% block title %} <title>Личный кабинет</title> {% endblock %}
{% block style %}
<style>
    body {
        background-color: #343a40;
        color: #f8f9fa;
    }
    .profile-card {
        background-color: #495057;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        max-width: 600px;
    }
    .profile-header {
        font-size: 1.3rem;
        margin-bottom: 15px;
    }
    .profile-detail {
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .profile-detail strong {
        display: inline-block;
        width: 150px;
    }
    .btn-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
</style>
{% endblock style %}
{% block content %}
<div class="container mt-3">
    <div class="row">
        <!-- Левый блок -->
        <div class='col-lg-7'>
            <div class="profile-card">
                <!-- Контент профиля -->
                <div class="profile-header text-center">
                    Профиль пользователя
                </div>
                <div class="profile-detail">
                    <strong>Имя пользователя:</strong> {{ user.username }}
                </div>
                <div class="profile-detail">
                    <strong>Отдел:</strong> {{ department_name }}
                </div>
                <div class="profile-detail">
                    <strong>Email:</strong> {{ user.email }}
                </div>
                <div class="profile-detail">
                    <strong>Telegram ID:</strong> {{ user.telegram_id }}
                </div>
                <div class="profile-detail">
                    <strong>Метод входа:</strong> {{ login_method }}
                </div>
                <div class="profile-detail">
                    <strong>Статус:</strong> <!-- Пока пустое поле -->
                </div>
                <div class="btn-group">
                    <button class="btn btn-warning" onclick="requestPasswordChange()">Сменить пароль</button>
                </div>
                <div class="mt-4">
                    <h2 class="h5">Запрос админских прав</h2>
                    <input type="text" id="reason" class="form-control" placeholder="Обоснование запроса">
                    <button class="btn btn-primary mt-2" onclick="requestAdminRights()">Отправить запрос</button>
                </div>
                <a href="/" class="btn btn-link mt-3">Вернуться на главную страницу</a>
            </div>
        </div>

        <!-- Правый блок -->
        <div class='col-lg-5'>
            <div class="profile-card">
                <!-- Дополнительная информация профиля -->
                <div class="profile-header text-center">
                    Права пользователя
                </div>
                <div class="profile-detail">
                    <strong>Роль </strong>
                    {% if user.is_superuser %}
                        Суперпользователь
                    {% elif user.is_staff %}
                        Администратор
                    {% else %}
                        Пользователь
                    {% endif %}
                </div>
                {% if user.is_superuser or user.is_staff %}
                    <div class="profile-detail">
                        <strong>Группы </strong>
                        {% for group in user.groups.all %}
                            {{ group.name }}
                        {% empty %}
                            Вы не состоите в группах
                        {% endfor %}
                    </div>
                {% endif %}


                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href={% url "bookmarks:send_message_to_participants" %}>Выслать уведомления участникам</a>
                </li>
            </div>
        </div>
    </div>
</div>

<script>
function requestPasswordChange() {
    fetch('{% url "users:change_password" %}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => response.json())
    .then(data => {
        alert(data.message);
    });
}

function requestAdminRights() {
    const reason = document.getElementById('reason').value;
    fetch('{% url "users:request_admin_rights" %}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({ reason: reason })
    })
    .then(response => response.json())
    .then(data => {
        alert(data.message);
        if (data.success) {
            document.getElementById('reason').value = ''; // Очистить поле ввода после успешной отправки
        }
    })
    .catch(error => {
        console.error('Ошибка:', error);
        alert('Произошла ошибка при отправке запроса на админские права.');
    });
}

</script>
{% endblock content %}
