{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'users/css/users_sign_up.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Зарегистрироваться</h1>
        <p>Заполните форму для регистрации.</p>

        <!-- Форма регистрации -->
        <form action="/register/" method="POST">
            <label for="username">ФИО пользователя:</label><br>
            <input type="text" id="username" name="username" placeholder="username"><br><br>

            <label for="password">Код подразделения:</label><br>
            <input type="password" id="password" name="password" placeholder="password"><br><br>

            <p>Для окончания регистрации потребуется привязать telegram по ссылке:</p>


            <button type="submit", id="signupButton">Зарегистрироваться</button>
        </form>
    </div>

    <script>  {% static 'js/users_log_in.js' %} </script>

</body>
</html>



