{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static "general/css/general-page.css" %}">

	<title>Document</title>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg bg-dark text-white">
			<div class="container-fluid">
				<a class="navbar-brand" href={% url "main:index" %}>Home</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Доступные мероприятия
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href={% url "events_available:index" %}>Онлайн мероприятия</a></li>
								<li><a class="dropdown-item" href={% url "events_available:index" %}>Оффлайн мероприятия</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"></a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Культурные мероприятия
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href={% url "events_cultural:index" %}>Достопримечательности</a></li>
								<li><a class="dropdown-item" href={% url "events_cultural:index" %}>Зарегестрированные</a></li>
								<li><a class="dropdown-item" href={% url "events_cultural:index" %}>Доступные к посещению</a></li>
							</ul>
						</li>

						<li class="nav-item">
							<a class="nav-link" aria-current="page" href={% url "events_calendar:index" %}>Календарь
								мероприятий</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" aria-current="page" href={% url "bookmarks:index" %}>Закладки</a>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Еще
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href={% url "application_for_admin_rights:index" %}>Подать заявку на
										права администратора</a></li>
								<li><a class="dropdown-item" href={% url "support:index" %}>Связь с поддержкой</a></li>
							</ul>
						</li>






					</ul>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">S</button>
					</form>
				</div>
			</div>
		</nav>
	</header>

	<section>
		<div class="container-fluid">
			<div class="row">
				
				<div class="col-lg-1">
				</div>

				<div class="col-lg-10">			
					<div class="filter-events mt-2">
						<div class="row filter-events-row">
							<div class="col-lg-1">
								<div class="row">
								
								</div>
							</div>
							<div class="col-lg-2 mx-1">
								<div class="row">
									<button type="button" class="btn btn-outline-dark">Дата</button>
								</div>
							</div>
							<div class="col-lg-2 mx-1">
								<div class="row">
									<button type="button" class="btn btn-outline-dark">Тема</button>
								</div>
							</div>
							<div class="col-lg-2 mx-1">
								<div class="row">
									<button type="button" class="btn btn-outline-dark">Место проведения</button>
								</div>
							</div>
							<div class="col-lg-2 mx-1">
								<div class="row">
									<button type="button" class="btn btn-outline-dark">Спикеры</button>
								</div>
							</div>
							<div class="col-lg-2 mx-1">
								<div class="row">
									<button type="button" class="btn btn-outline-dark">Теги</button>
								</div>
							</div>
							<div class="col-lg-1">
								<div class="row">
									
								</div>
							</div>
					</div>




						<div class="col-lg-12">
							<div class="card mb-3">
								<div class="row g-0">
									<div class="col-md-4">
										<img src="{% static "general/images/img.png" %}" class="img-fluid rounded-start" alt="...">
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<h5 class="card-title">Card title</h5>
											<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
											<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>		
				</div>

				<div class="col-lg1">
				</div>

			</div>
		</div>
	</section>



	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>
</body>

</html>