{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link
		rel="apple-touch-icon"
		sizes="180x180"
		href="{% static "deps/favicon/apple-touch-icon.png" %}"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="32x32"
		href="{% static "deps/favicon/favicon-32x32.png" %}"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="16x16"
		href="{% static "deps/favicon/favicon-16x16.png" %}"
	/>
	<link rel="manifest" href="{% static "deps/favicon/site.webmanifest" %}" />
	<title> {{ title }}</title>
</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
				<div class="container">
					<a class="navbar-brand" href="{% url "main:index" %}">Home</a>
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item dropdown">
								<a
									class="nav-link dropdown-toggle text-white"
									href="#"
									role="button"
									data-bs-toggle="dropdown"
									aria-expanded="false"
								>
									Информация
								</a>
								<ul class="dropdown-menu">
									<li>
										<a class="dropdown-item text-white" href="{% url "support:index" %}"
											>Связь с поддержкой</a
										>
									</li>
									<li>
										<a class="dropdown-item text-white" href="{% url "application_for_admin_rights:index" %}">Подать заявку на права администратора</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a
									class="nav-link dropdown-toggle text-white"
									href="#"
									role="button"
									data-bs-toggle="dropdown"
									aria-expanded="false"
								>
									Мероприятия
								</a>
								<ul class="dropdown-menu">
									<li>
										<a class="dropdown-item text-white" href="{% url "events_available:index" %}"
											>Доступные мероприятия</a
										>
									</li>
									<li>
										<a class="dropdown-item text-white" href="{% url "events_cultural:index" %}"
											>Культурные мероприятия</a
										>
									</li>
									<li>
										<a class="dropdown-item text-white" href="{% url "events_calendar:index" %}"
											>Календарь мероприятий</a
										>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a
									class="nav-link dropdown-toggle text-white"
									href="#"
									role="button"
									data-bs-toggle="dropdown"
									aria-expanded="false"
								>
									Мой профиль
								</a>
								<ul class="dropdown-menu">
									<li>
										<a
											class="dropdown-item text-white"
											href="{% url "personal:index" %}"
											>Личный кабинет</a
										>
									</li>
									<li>
										<a class="dropdown-item text-white" href="#"
											>Админ панель</a
										>
									</li>
									<li>
										<hr class="dropdown-divider" />
									</li>
									<li>
										<a class="dropdown-item text-white" href="#">Выйти</a>
									</li>
								</ul>
							</li>
						</ul>
						<form class="d-flex" role="search">
							<input
								class="form-control me-2"
								type="search"
								placeholder="Search"
								aria-label="Search"
							/>
							<button class="btn btn-outline-success text-white" type="submit">
								Поиск
							</button>
						</form>
					</div>
				</div>
			</nav>
		</header>
		<section>
			<!-- Контент -->
			<div class="container">
				<div class="row mt-1">
					<div class="col-lg-2">
						<!-- Пустой блок на Ваше усмотрение -->
					</div>
					<div class="col-lg-10">
						<!-- Контент на странице -->
						{% block content %}{% endblock content %}
					</div>
				</div>
			</div>
		</section>
		{% block footer %}{% endblock footer %}
		<script src="{% static "deps/js/jquery/jquery-3.7.0.min.js" %}"></script>
		<script src="{% static "deps/js/jquery-events.js" %}"></script>
		<script src="{% static "deps/js/jquery-ajax.js" %}"></script>
		<script src="{% static "deps/js/bootstrap/bootstrap.bundle.min.js" %}"></script>
	</body>
</html>
