{% extends 'events/base.html' %} 
{% load static %} 
{% load main_tags %}
{% block title %} <title>Главная страница</title> {% endblock %} 

{% block filters %}
{% comment %} <div class="row mt-3 mb-3 name-for-events"> {% endcomment %}
    <div class="col-lg-9 col-md-9 col-9 namepage-vis align-items-center">
        <h2> {{ name_page }} </h2>
    </div>

    <div class="col-lg-3 col-md-3 col-3 filters-flex text-end d-flex justify-content-end align-items-center">
        <!-- Кнопка сброса фильтров, которая будет скрыта по умолчанию -->
        <div id="reset-filters-container" class="me-2" style="display: none;">
            <form action="{% url 'main:index' %}" method="get">
                <button class="btn btn-primary" type="submit">Сбросить</button>
            </form>
        </div>
    
        <!-- Кнопка для открытия фильтров -->
        <button id="filter-toggle" class="btn btn-primary me-2">
            <img src="{% static 'general/icons/filters.png' %}" alt="Фильтры" style="width: 24px; height: 24px;">
        </button>
    
        <!-- Кнопка для сортировки -->
        <button id="sort-toggle" class="btn btn-primary">
            <img src="{% static 'general/icons/sort.png' %}" alt="Сортировка" style="width: 24px; height: 24px;">
        </button>
    </div>
    
{% comment %} </div> {% endcomment %}

<div id="filter-section" class="row filter-events-row mt-2" style="display: none;">  <!-- добавляем id и скрываем фильтры -->
    <div class="row filter-events-row">
        <div class="col-lg-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Название
                </button>
                <form action="" method="get" class="dropdown-menu bg-dark w-100" data-bs-theme="dark">
                    <div class="form-check text-white">
                        <input class="form-control me-3" type="search" id="event-name-search" name="name_search" placeholder="Введите название">
                    </div>
                    <div id="autocomplete-results" class="autocomplete-results"></div>                        <div class="text-center">
                        <button class="btn btn-outline-success" type="submit">Применить</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dateFilterButton">
                    Дата
                </button>
                <form action="{% if request.GET.q %}{% url 'main:index' %}{% else %}{% url 'main:index' %}{% endif %}" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark" id="dateDropdown">
                    <div class="form-check text-white">
                        Дата начала <br/>
                        <label class="form-check-label" for="flexCheckDefault">
                            <input type="date" id="date_start" name="date_start" value="{{ date_start|default_if_none:'' }}" placeholder="дд/мм/гггг">
                        </label>
                    </div>
                    <div class="form-check text-white">
                        Дата окончания <br/>
                        <label class="form-check-label" for="flexCheckDefault">
                            <input type="date" id="date_end" name="date_end" value="{{ date_end|default_if_none:'' }}" placeholder="дд/мм/гггг">
                            </label>
                    </div>
            
                    {% for key, value in request.GET.items %}
                        {% if key != 'f_date' and key != 'date_start' and key != 'date_end' %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endif %}
                    {% endfor %}
            
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-3">Применить</button>
                    </div>
                </form>
            </div>
        </div>   
        <div class="col-lg-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Время
                    </button>
                    <form action="" method="get" class="dropdown-menu bg-dark dropdown-menu-custom" data-bs-theme="dark">
                        <div class="form-check text-white">
                            Время начала <br/>
                            <label class="form-check-label" for="flexCheckDefault">
                                <input type="time" id="time_to_start" name="time_to_start" value="{{ time_to_start|default_if_none:'' }}">
                            </label>
                        </div>
                        <div class="form-check text-white">
                            Время окончания <br/>
                            <label class="form-check-label" for="flexCheckDefault">
                                <input type="time" id="time_to_end" name="time_to_end" value="{{ time_to_end|default_if_none:'' }}">
                            </label>
                        </div>
                
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-3">Применить</button>
                        </div>
                    </form>
                </div>
        </div>
        <div class="col-lg-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Спикеры
                </button>
                <form action="" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark" style="max-height: 200px; overflow-y: auto; width:300px;">
                    <!-- Поле для ввода, которое будет использоваться для поиска -->
                    <div class="form-check text-white" style="margin-left: 15px; margin-right:15px; padding: 0px;">
                        <input class="form-control w-100" id="search-speakers" type="text" placeholder="Поиск спикеров..." style="height: 35px;" >
                    </div>
        
                    <!-- Список спикеров, который будет фильтроваться по мере ввода текста -->
                    <div id="speakers-list">
                        {% for speaker in speakers %}
                            <div class="form-check text-white mx-3 speaker-item">
                                <input class="form-check-input" type="checkbox" name="f_speakers" id="flexCheckDefault{{ forloop.counter }}" value="{{ speaker }}" {% if request.GET.f_speakers == speaker %}checked{% endif %}>
                                <label class="form-check-label" for="flexCheckDefault{{ forloop.counter }}">{{ speaker }}</label>
                            </div>
                        {% endfor %}
                    </div>
            
                    {% comment %} Для объединения фильтров {% endcomment %}
                    {% for key, value in request.GET.items %}
                        {% if key != 'f_speakers' %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endif %}
                    {% endfor %}
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-3">Применить</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Теги
                </button>
                <form action="" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark" style="max-height: 200px; overflow-y: auto; width:170px;">
                    <!-- Поле для поиска тегов -->
                    <div class="form-check text-white" style="margin-left: 15px; margin-right:15px; padding: 0px;">
                        <input class="form-control w-100" id="search-tags" type="text" placeholder="Поиск тегов..." style="height: 35px;">
                    </div>
        
                    <!-- Список тегов -->
                    <div id="tags-list">
                        {% for tag in tags %}
                            <div class="form-check text-white mx-3 tag-item" style="height: 5px;">
                                <input class="form-check-input" type="checkbox" name="f_tags" id="flexCheckDefault{{ forloop.counter }}" value="{{ tag }}" {% if request.GET.f_tags == tag %}checked{% endif %}>
                                <label class="form-check-label" for="flexCheckDefault{{ forloop.counter }}">{{ tag }}</label>
                                <br>
                            </div>
                        {% endfor %}
                    </div>
            
                    <!-- Для сохранения других фильтров -->
                    {% for key, value in request.GET.items %}
                        {% if key != 'f_tags' and key != 'date_start' and key != 'date_end' %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endif %}
                    {% endfor %}
            
                    <!-- Кнопка для применения тегов -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-3">Применить</button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>
    
{% endblock filters %}

{% block sort %}
<!-- Секция сортировки -->
<div id="sort-section" class="dropdown-menu bg-dark" style="display: none; width: 100px">
    <form action="" method="get">
        <div class="form-check text-white mx-3">
            <input class="form-check-input" type="radio" name="order_by" id="sort-time-default" value="default" {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %}>
            <label class="form-check-label" for="sort-time-default">По умолчанию</label>
        </div>

        <h6 class="dropdown-header text-white">Сортировка по времени</h6>

        <div class="form-check text-white mx-3">
            <input class="form-check-input" type="radio" name="order_by" id="sort-time-earlier" value="time_start" {% if request.GET.order_by == 'time_start' %}checked{% endif %}>
            <label class="form-check-label" for="sort-time-earlier">Раньше</label>
        </div>
        <div class="form-check text-white mx-3">
            <input class="form-check-input" type="radio" name="order_by" id="sort-time-later" value="-time_start" {% if request.GET.order_by == '-time_start' %}checked{% endif %}>
            <label class="form-check-label" for="sort-time-later">Позже</label>
        </div>

        <h6 class="dropdown-header text-white">Сортировка по дате</h6>
        
        <div class="form-check text-white mx-3">
            <input class="form-check-input" type="radio" name="order_by" id="sort-date-newest" value="-date" {% if request.GET.order_by == '-date' %}checked{% endif %}>
            <label class="form-check-label" for="sort-date-newest">Сначала новые</label>
        </div>
        <div class="form-check text-white mx-3">
            <input class="form-check-input" type="radio" name="order_by" id="sort-date-oldest" value="date" {% if request.GET.order_by == 'date' %}checked{% endif %}>
            <label class="form-check-label" for="sort-date-oldest">Сначала старые</label>
        </div>
        

        <!-- Передаем активные фильтры (исключаем текущий параметр сортировки) -->
        {% for key, value in request.GET.items %}
            {% if key != 'order_by' %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endif %}
        {% endfor %}

        <!-- Кнопка для применения сортировки -->
        <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
    </form>
</div>
{% endblock sort %}


{% block content %}
<!-- Контент на странице -->
{% if events.category  == 'Онлайн' %}
    <div class="button-substrate">
        {% if events.date >= now or request.user in events.member.all %}
            {% if events.id in registered.online %}
                <a href="#" class="btn btn-remove_app" data-event-id="{{ registered.online|get_item:events.id }}">
                    Отмена регистрации
                </a>
            {% else %}
                <a href="#" class="btn btn-sent_app" data-event-slug="{{ events.slug }}">
                    Регистрация
                </a>
            {% endif %}
        {% else %}
            <span class="btn btn-secondary">Регистрация закрыта</span>
        {% endif %}

        <button class="btn btn-comment" data-event-id="{{ events.id }}" data-model-type="online">Оставить отзыв</button>
    </div>
{% elif events.category  == 'Оффлайн' %}
    <div class="button-substrate">
        {% if events.date >= now or request.user in events.member.all %}
            {% if events.id in registered.offline %}
                <a href="#" class="btn btn-remove_app" data-event-id="{{ registered.offline|get_item:events.id }}">
                    Отмена регистрации
                </a>
            {% else %}
                <a href="#" class="btn btn-sent_app" data-event-slug="{{ events.slug }}">
                    Регистрация
                </a>
            {% endif %}
        {% else %}
            <span class="btn btn-secondary">Регистрация закрыта</span>
        {% endif %}

        <button class="btn btn-comment" data-event-id="{{ events.id }}" data-model-type="offline">Оставить отзыв</button>
    </div>
{% elif events.category  == 'Достопримечательности' %}
    <div class="button-substrate">
        <button class="btn btn-comment" data-event-id="{{ events.id }}" data-model-type="attractions">Оставить отзыв</button>
    </div>
{% elif events.category  == 'Доступные к посещению' %}
    <div class="button-substrate">
        {% if events.date >= now and events.place_free > 0 or request.user in events.member.all %}
            {% if events.id in registered.for_visiting %}
                <a href="#" class="btn btn-remove_app" data-event-id="{{ registered.for_visiting|get_item:events.id }}">
                    Отмена регистрации
                </a>
            {% else %}
                <a href="#" class="btn btn-sent_app" data-event-slug="{{ events.slug }}">
                    Регистрация
                </a>
            {% endif %}
        {% else %}
            <span class="btn btn-secondary">Регистрация закрыта</span>
        {% endif %}

        <button class="btn btn-comment" data-event-id="{{ events.id }}" data-model-type="for_visiting">Оставить отзыв</button>
    </div>
{% endif %}

{% endblock content %}
             
{% block script_js %}                
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const input = document.getElementById('event-name-search');
        const resultsContainer = document.getElementById('autocomplete-results');
        const form = input.closest('form');  // Получаем форму, в которой находится поле ввода

        // Логика автокомплита для фильтра по названию
        if (input) {
            input.addEventListener('input', function() {
                const query = input.value;
                console.log(`Пользователь ввел: ${query}`);
                if (query.length >= 2) {  // Автокомплит начинает работать после ввода двух символов
                    fetch(`/autocomplete/event-name/?term=${query}`)
                        .then(response => response.json())
                        .then(data => {
                            resultsContainer.innerHTML = '';  // Очищаем старые результаты
                            if (data.length === 0) {
                                resultsContainer.innerHTML = '<div class="autocomplete-item">No results found</div>';
                            } else {
                                data.forEach(eventName => {
                                    const option = document.createElement('div');
                                    option.classList.add('autocomplete-item');
                                    option.innerHTML = eventName;
                                    option.addEventListener('click', function() {
                                        input.value = eventName;  // При выборе названия заполняем поле
                                        resultsContainer.innerHTML = '';  // Очищаем результаты
                                        form.submit();  // Автоматически отправляем форму
                                    });
                                    resultsContainer.appendChild(option);
                                });
                            }
                        })
                        .catch(error => console.error('Ошибка автокомплита:', error));
                } else {
                    resultsContainer.innerHTML = '';  // Если меньше двух символов, очищаем результаты
                }
            });
        }
    }); 
    

</script>
{% endblock script_js %}