body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EDE6E6; /* Задний фон цвета #EDE6E6 */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 20px;
    background-color: white; /* Блок регистрации белым */
    border-radius: 10px; /* Скругленные края */
    width: 50%;
    max-width: 400px; /* Максимальная ширина блока */

}

h1 {
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}