{% load static %}
{% load events_available_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="{% static "general/css/general-page.css" %}">
    <link rel="stylesheet" href="{% static "general/css/events_available.css" %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark text-white">
            <div class="container-fluid">
                <a class="navbar-brand" href={% url "main:index" %}>Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'users:login' %}">Войти</a>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Доступные мероприятия
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href={% url "events_available:online" %}>Онлайн мероприятия</a></li>
                                <li><a class="dropdown-item" href={% url "events_available:offline" %}>Оффлайн мероприятия</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Культурные мероприятия
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href={% url "events_cultural:attractions" %}>Достопримечательности</a></li>
                                <li><a class="dropdown-item" href={% url "events_cultural:events_registered" %}>Зарегистрированные</a></li>
                                <li><a class="dropdown-item" href={% url "events_cultural:events_for_visiting" %}>Доступные к посещению</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href={% url "events_calendar:index" %}>Календарь мероприятий</a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Мой профиль </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item text-black" href="{% url 'users:profile' %}">Личный кабинет</a>
                                </li>
                                {% if user.is_admin or user.is_superuser %}
                                <li>
                                    <a class="dropdown-item text-black" href="{% url 'admin:index' %}">Админ панель</a>
                                </li>
                                {% endif %}
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                    <form class="d-flex" role="search" action="{% if name_page == 'Онлайн' %}{% url "events_available:search_online" %}{% elif name_page == 'Оффлайн' %}{% url "events_available:search_offline" %}{% elif name_page == 'Доступные к посещению' %}{% url "events_cultural:search_events_for_visiting" %}{% elif name_page == 'Достопримечательности' %}{% url "events_cultural:search_attractions" %}{% elif name_page == 'Все мероприятия' %}{% url "main:search_all" %}{% endif %}" method="get">
                        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">
                            <img src="{% static "general/icons/search.svg" %}" alt="S">
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <section>
		{% if user.is_authenticated %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-1"></div>
		
				<div class="col-lg-10">
					{% block filters %}{% endblock filters %}
		
					<div class="row mt-3 mb-3 name-for-events">
						<div class="col-lg-12">
							<h2> {{ name_page }} </h2>
						</div>
					</div>

					{% if request.GET.q %}
						<h3 class="mt-4">Результаты поиска по запросу {{ request.GET.q }}</h3>
						{% if not event_card_views %}
							{% comment %} <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}"> {% endcomment %}
							<h2 class="mt-4">По запросу ничего не найдено</h2>
						{% endif %}
					{% endif %}
					{% for events in event_card_views %}
					<div class="row mt-2 event_cards">
						<div class="col-lg-12">
							<div class="card mb-3">
								<div class="row g-0">
									<div class="col-md-4">
										{% if events.image %}
											<img src="{{ events.image.url }}" class="img-fluid rounded-start " alt="{{ events.name }}">
										{% else %} 
											<img src="{% static "general/images/img.png" %}" class="img-fluid rounded-start " alt="{{ events.name }}">
										{% endif %}
										<a href="{% url 'bookmarks:events_add' events.slug %}" class="btn add-to-cart">
											<img class="mx-1" src="{% static "general/icons/heart.svg" %}" alt="Catalog Icon" width="32" height="32">
										</a>
 									
										{% comment %} <form action="{% url 'bookmarks:favorites' events.slug %}" method="POST" class="mx-3">
											{% csrf_token %}
											<button type="submit" id="favourite" name="events.slug" class="btn btn-outline-danger btn-sm btn-favorites"><img src="{% static "general/icons/heart.svg" %}" alt="" value="{{ events.slug }}"></button>
										</form> {% endcomment %}
										<div class="card-img-info">
											<p> id: {{ events.display_id }} </p>
											<p> category: {{ events.category }} </p>
										</div>
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<h5 class="card-title">
												<a href="
												{% if events.category  == 'Онлайн' %}
													{% url "events_available:online_card" events.slug %}
												{% elif events.category  == 'Оффлайн' %}
													{% url "events_available:offline_card" events.slug %}
												{% elif events.category  == 'Достопримечательности' %}
													{% url "events_cultural:attractions_card" events.slug %}
												{% elif events.category  == 'Доступные к посещению' %}
													{% url "events_cultural:events_for_visiting_card" events.slug %}
												{% endif %}">
												{% autoescape off %}
													{% if events.headline %}{{ events.headline }}{% else %}{{ events.name }}{% endif %}
												{% endautoescape %}
											</a></h5>
											<h6 class="card-date"> 
												<split class="card-day"><b>{{ events.date }}</b></split> 
												<split class="card-time">{{ events.time_start }} - {{ events.time_end }}</split> </h6> 
											<h6 class="event-place"> {{ events.place }} </h6>
											<h6 class="event-place"> {{ events.speakers }} </h6>
											{% autoescape off %}
												{% if events.bodyline %}
													{{ events.bodyline }}
												{% else %}
													<p class="card-text">{{ events.description|truncatechars:625 }}</p>
												{% endif %}
											{% endautoescape %}
											
											<p class="card-text">
												<small class="text-muted">{% if events.tags %} 
													{{ events.tags }}
													{% else %}
													{% endif %}
												</small>
											</p>
											<p>
												{% if events.town %}{{ events.town }}{% endif %} {% if events.street %}{{ events.street }}{% endif %} {% if events.cabinet %}{{ events.cabinet }}{% endif %}
											</p>
											<p>
												{{ speakers }}
											</p> 
                                            {% block content %}{% endblock content %}
											

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
                    
                    {% block favorite %}{% endblock favorite %}
					
		
				</div>
		
				<div class="col-lg-1"></div>
			</div>
		</div>
		{% endif %}
    </section>
    <pagination>
        {% if user.is_authenticated %}
            {% if event_card_views %}
                <nav aria-label="Page navigation example" >
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not event_card_views.has_previous %} disabled {% endif %}">
                            <a class="page-link" href="
                            {% if event_card_views.has_previous %}  
                                ?{% change_params page=event_card_views.previous_page_number %}
                            {% else %} 
                                #
                            {% endif %}">Назад </a>
                        </li>
                        {% for page in event_card_views.paginator.page_range %}		
                            {% if page >= event_card_views.number|add:-2 and page <= event_card_views.number|add:2 %}
                                <li class="page-item {% if event_card_views.number == page %} active {% endif %}">
                                    <a class="page-link" href="
                                    ?{% change_params page=page %}">
                                    {{ page }}</a>
                                </li>
                            {% endif %}		
                        {% endfor %}
                        <li class="page-item {% if not event_card_views.has_next %} disabled {% else %}{% endif %}">
                            <a class="page-link" href="
                            {% if event_card_views.has_next %}
                                ?{% change_params page=event_card_views.next_page_number %}
                            {% else %} 
                                #
                            {% endif %}">Следующая </a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        {% endif %}
    </pagination>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src={% static "js/bootstrap-datepicker.min.js" %}></script>
    <script src={% static "js/bootstrap-datepicker.ru.min.js" %}></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block javascript_files %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
		$(document).ready(function(event){
			$(document).on('click', '#favourite', function(event){
				event.preventDefault();
				var slug = $(this).attr('value');
				$.ajax({
					type: 'POST',
					url: "/bookmarks/favorites/" + slug + "/",
					data: {
						'csrfmiddlewaretoken': '{{ csrf_token }}'
					},
					dataType: 'json',
					success: function(response){
						$('#favourite-section').html(response['form'])
					},
					error: function(rs, e){
						console.log(rs.responseText);
					},
				});
			});
		});
	</script>
	
	
    {% endblock javascript_files %}
</body>
</html>
