{% load static %}
{% load events_available_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

	<link rel="stylesheet" href="daterangepicker/daterangepicker.css">
	{% comment %} TIMEPEAKER {% endcomment %}
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

	<link rel="stylesheet" href="{% static "general/css/general-page.css" %}">
	<link rel="stylesheet" href="{% static "general/css/events_available.css" %}">

	<title>Document</title>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg bg-dark text-white">
			<div class="container-fluid">
				<a class="navbar-brand" href={% url "main:index" %}>Home</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Доступные мероприятия
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href={% url "events_available:online" %}>Онлайн мероприятия</a></li>
								<li><a class="dropdown-item" href={% url "events_available:offline" %}>Оффлайн мероприятия</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"></a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Культурные мероприятия
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href={% url "events_cultural:attractions" %}>Достопримечательности</a></li>
								<li><a class="dropdown-item" href={% url "events_cultural:events_registered" %}>Зарегистрированные</a></li>
								<li><a class="dropdown-item" href={% url "events_cultural:events_for_visiting" %}>Доступные к посещению</a></li>
							</ul>
						</li>

						<li class="nav-item">
							<a class="nav-link" aria-current="page" href={% url "events_calendar:index" %}>Календарь
								мероприятий</a>
						</li>
						
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Закладки
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href={% url "bookmarks:favorites" %}>Избранное</a></li>
								<li><a class="dropdown-item" href={% url "bookmarks:events_attended" %}>Посещенные мероприятия</a></li>
							</ul>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Еще
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href={% url "application_for_admin_rights:application_for_admin_rights" %}>Подать заявку на
										права администратора</a></li>
								<li><a class="dropdown-item" href={% url "support:support" %}>Связь с поддержкой</a></li>
							</ul>
						</li>

					</ul>
					
					{% comment %} <form class="d-flex" role="search" action="{% url 
					"{% if event_card_views.category == 'Онлайн' %} 
						events_available:search_online 
					{% elif event_card_views.category == 'Оффлайн' %} 
						events_available:search_offline 
					{% endif %}" %}" 
					method="get"> {% endcomment %}
					<form class="d-flex" role="search" action="{% if name_page == 'Онлайн' %}{% url "events_available:search_online" %}{% elif name_page == 'Оффлайн' %}{% url "events_available:search_offline" %}{% elif name_page == 'Доступные к посещению' %}{% url "events_cultural:search_events_for_visiting" %}{% elif name_page == 'Достопримечательности' %}{% url "events_cultural:search_attractions" %}{% elif name_page == 'Все мероприятия' %}{% url "main:search_all" %}{% endif %}" method="get">
						<input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">
							<img src="{% static "general/icons/search.svg" %}" alt="S">
						</button>
					</form>
				</div>
			</div>
		</nav>
	</header>

	<section>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-1"></div>
		
				<div class="col-lg-10">
					{% block filters %}{% endblock filters %}
		
					<div class="row mt-3 mb-3 name-for-events">
						<div class="col-lg-12">
							<h2> {{ name_page }} </h2>
						</div>
					</div>

					{% if request.GET.q %}
						<h3 class="mt-4">Результаты поиска по запросу {{ request.GET.q }}</h3>
						{% if not event_card_views %}
							{% comment %} <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}"> {% endcomment %}
							<h2 class="mt-4">По запросу ничего не найдено</h2>
						{% endif %}
					{% endif %}
					{% for events in event_card_views %}
					<div class="row mt-2 event_cards">
						<div class="col-lg-12">
							<div class="card mb-3">
								<div class="row g-0">
									<div class="col-md-4">
										{% if events.image %}
											<img src="{{ events.image.url }}" class="img-fluid rounded-start " alt="{{ events.name }}">
										{% else %} 
											<img src="{% static "general/images/img.png" %}" class="img-fluid rounded-start " alt="{{ events.name }}">
										{% endif %}
										<button type="button" class="btn btn-outline-danger btn-sm btn-favorites"><img src="{% static "general/icons/heart.svg" %}" alt=""></button>
										<div class="card-img-info">
											<p> id: {{ events.display_id }} </p>
											<p> category: {{ events.category }} </p>
										</div>
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<h5 class="card-title">
												<a href="
												{% if events.category  == 'Онлайн' %}
													{% url "events_available:online_card" events.slug %}
												{% elif events.category  == 'Оффлайн' %}
													{% url "events_available:offline_card" events.slug %}
												{% elif events.category  == 'Достопримечательности' %}
													{% url "events_cultural:attractions_card" events.slug %}
												{% elif events.category  == 'Доступные к посещению' %}
													{% url "events_cultural:events_for_visiting_card" events.slug %}
												{% endif %}">
												{% autoescape off %}
													{% if events.headline %}{{ events.headline }}{% else %}{{ events.name }}{% endif %}
												{% endautoescape %}
											</a></h5>
											<h6 class="card-date"> 
												<split class="card-day"><b>{{ events.date }}</b></split> 
												<split class="card-time">{{ events.time_start }} - {{ events.time_end }}</split> </h6> 
											<h6 class="event-place"> {{ events.place }} </h6>
											<h6 class="event-place"> {{ events.speakers }} </h6>
											{% autoescape off %}
												{% if events.bodyline %}
													{{ events.bodyline }}
												{% else %}
													<p class="card-text">{{ events.description|truncatechars:625 }}</p>
												{% endif %}
											{% endautoescape %}
											
											<p class="card-text">
												<small class="text-muted">{% if events.tags %} 
													{{ events.tags }}
													{% else %}
													{% endif %}
												</small>
											</p>
											{% block content %}{% endblock %}

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					
					{% endfor %}
					
		
				</div>
		
				<div class="col-lg-1"></div>
			</div>
		</div>
	</section>

	<pagination>
		{% if event_card_views %}
			<nav aria-label="Page navigation example" >
				<ul class="pagination justify-content-center">
					<li class="page-item {% if not event_card_views.has_previous %} disabled {% endif %}">
						<a class="page-link" href="
						{% if event_card_views.has_previous %}  
							?{% change_params page=event_card_views.previous_page_number %}
						{% else %} 
							#
						{% endif %}">Назад </a>
					</li>

					{% for page in event_card_views.paginator.page_range %}		
						{% if page >= event_card_views.number|add:-2 and page <= event_card_views.number|add:2 %}
							<li class="page-item {% if event_card_views.number == page %} active {% endif %}">
								<a class="page-link" href="
								?{% change_params page=page %}">
								{{ page }}</a>
							</li>
						{% endif %}		
					{% endfor %}
					
					<li class="page-item {% if not event_card_views.has_next %} disabled {% else %}{% endif %}">
						<a class="page-link" href="
						{% if event_card_views.has_next %}
							?{% change_params page=event_card_views.next_page_number %}
						{% else %} 
							#
						{% endif %}">Следующая </a>
					</li>
				</ul>
			</nav>
		{% endif %}
	</pagination>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	<script src={% static "js/bootstrap-datepicker.min.js" %}></script>
	<script src={% static "js/bootstrap-datepicker.ru.min.js" %}></script>
	<script>
	</script>

	{% comment %} TIMEPEAKER {% endcomment %}
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</body>

</html>