{% load static %}
{% load events_available_tags %}
{% load main_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static "general/css/general-page.css" %}">
    <link rel="stylesheet" href="{% static "general/css/events_available.css" %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <title>Document</title>
    <!-- Другие стили и скрипты -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark text-white">
            <div class="container-fluid">
                <a class="navbar-brand" href={% url "main:index" %}>Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'users:login' %}">Войти</a>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Доступные мероприятия
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href={% url "events_available:online" %}>Онлайн мероприятия</a></li>
                                <li><a class="dropdown-item" href={% url "events_available:offline" %}>Оффлайн мероприятия</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Культурные мероприятия
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href={% url "events_cultural:attractions" %}>Достопримечательности</a></li>
                                
                                <li><a class="dropdown-item" href={% url "events_cultural:events_for_visiting" %}>Доступные к посещению</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href={% url "events_calendar:index" %}>Календарь мероприятий</a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Мой профиль </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item text-black" href="{% url 'users:profile' %}">Личный кабинет</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-black" href={% url "bookmarks:registered" %}>Зарегистрированные</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-black" href="{% url 'bookmarks:favorites' %}">Избранные</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-black" href="{% url 'bookmarks:events_attended' %}">Посещенные</a>
                                </li>
                                {% if user.is_admin or user.is_superuser %}
                                <li>
                                    <a class="dropdown-item text-black" href="{% url 'admin:index' %}">Админ панель</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-black" href="{% url 'personal:personal' %}">Кабинет администратора</a>
                                </li>
                                {% endif %}
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a>
                                </li>
                            </ul>
                        </li>
                        
                        {% endif %}
                    </ul>
                    <form class="d-flex" role="search" action="{% if name_page == 'Онлайн' %}{% url "events_available:search_online" %}{% elif name_page == 'Оффлайн' %}{% url "events_available:search_offline" %}{% elif name_page == 'Доступные к посещению' %}{% url "events_cultural:search_events_for_visiting" %}{% elif name_page == 'Достопримечательности' %}{% url "events_cultural:search_attractions" %}{% elif name_page == 'Все мероприятия' %}{% url "main:search_all" %}{% endif %}" method="get">
                        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">
                            <img src="{% static "general/icons/search.svg" %}" alt="S">
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <section>
		{% if user.is_authenticated %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-1"></div>
		
				<div class="col-lg-10">
					{% block filters %}{% endblock filters %}
		
					<div class="row mt-3 mb-3 name-for-events">
						<div class="col-lg-12">
							<h2> {{ name_page }} </h2>
						</div>
					</div>

					{% if request.GET.q %}
						<h3 class="mt-4">Результаты поиска по запросу {{ request.GET.q }}</h3>
						{% if not event_card_views %}
							<h2 class="mt-4">По запросу ничего не найдено</h2>
						{% endif %}
					{% endif %}
                    {% for events in event_card_views %}
                        <div class="row mt-2 event_cards">
                            <div class="col-lg-12">
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            {% if events.image %}
                                                <img src="{{ events.image.url }}" class="img-fluid rounded-start" alt="{{ events.name }}">
                                            {% else %} 
                                                <img src="{% static "general/images/img.png" %}" class="img-fluid rounded-start" alt="{{ events.name }}">
                                            {% endif %}
                                            
                                            {% if name_page != "Главная" %}
                                                {% if events.id in favorites %}
                                                    <a href="#" class="btn remove-from-favorites" data-event-id="{{ favorites|get_item:events.id }}">
                                                        <img class="mx-1 heart-icon" src="{% static 'general/icons/heart_red.png' %}" alt="Catalog Icon" width="32" height="32">
                                                    </a>
                                                {% else %}
                                                    <a href="#" class="btn add-to-cart" data-event-slug="{{ events.slug }}">
                                                        <img class="mx-1 heart-icon" src="{% static 'general/icons/heart.svg' %}" alt="Catalog Icon" width="32" height="32">
                                                    </a>
                                                {% endif %}
                                            {% else %}
                                                {% if events|model_name == 'Events_online' %}
                                                    {% if events.id in favorites.online %}
                                                        <a href="#" class="btn remove-from-favorites" data-event-id="{{ favorites.online|get_item:events.id }}">
                                                            <img class="mx-1 heart-icon" src="{% static 'general/icons/heart_red.png' %}" alt="Catalog Icon" width="32" height="32">
                                                        </a>
                                                    {% else %}
                                                        <a href="#" class="btn add-to-cart" data-event-slug="{{ events.slug }}">
                                                            <img class="mx-1 heart-icon" src="{% static 'general/icons/heart.svg' %}" alt="Catalog Icon" width="32" height="32">
                                                        </a>
                                                    {% endif %}
                                                {% elif events|model_name == 'Events_offline' %}
                                                    {% if events.id in favorites.offline %}
                                                        <a href="#" class="btn remove-from-favorites" data-event-id="{{ favorites.offline|get_item:events.id }}">
                                                            <img class="mx-1 heart-icon" src="{% static 'general/icons/heart_red.png' %}" alt="Catalog Icon" width="32" height="32">
                                                        </a>
                                                    {% else %}
                                                        <a href="#" class="btn add-to-cart" data-event-slug="{{ events.slug }}">
                                                            <img class="mx-1 heart-icon" src="{% static 'general/icons/heart.svg' %}" alt="Catalog Icon" width="32" height="32">
                                                        </a>
                                                    {% endif %}
                                                {% elif events|model_name == 'Attractions' %}
                                                    {% if events.id in favorites.attractions %}
                                                        <a href="#" class="btn remove-from-favorites" data-event-id="{{ favorites.attractions|get_item:events.id }}">
                                                            <img class="mx-1 heart-icon" src="{% static 'general/icons/heart_red.png' %}" alt="Catalog Icon" width="32" height="32">
                                                        </a>
                                                    {% else %}
                                                        <a href="#" class="btn add-to-cart" data-event-slug="{{ events.slug }}">
                                                            <img class="mx-1 heart-icon" src="{% static 'general/icons/heart.svg' %}" alt="Catalog Icon" width="32" height="32">
                                                        </a>
                                                    {% endif %}
                                                {% elif events|model_name == 'Events_for_visiting' %}
                                                    {% if events.id in favorites.for_visiting %}
                                                        <a href="#" class="btn remove-from-favorites" data-event-id="{{ favorites.for_visiting|get_item:events.id }}">
                                                            <img class="mx-1 heart-icon" src="{% static 'general/icons/heart_red.png' %}" alt="Catalog Icon" width="32" height="32">
                                                        </a>
                                                    {% else %}
                                                        <a href="#" class="btn add-to-cart" data-event-slug="{{ events.slug }}">
                                                            <img class="mx-1 heart-icon" src="{% static 'general/icons/heart.svg' %}" alt="Catalog Icon" width="32" height="32">
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                            <div class="card-img-info">
                                                <p>id: {{ events.display_id }}</p>
                                                <p>category: {{ events.category }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <a href="
                                                    {% if events.category  == 'Онлайн' %}
                                                        {% url "events_available:online_card" events.slug %}
                                                    {% elif events.category  == 'Оффлайн' %}
                                                        {% url "events_available:offline_card" events.slug %}
                                                    {% elif events.category  == 'Достопримечательности' %}
                                                        {% url "events_cultural:attractions_card" events.slug %}
                                                    {% elif events.category  == 'Доступные к посещению' %}
                                                        {% url "events_cultural:events_for_visiting_card" events.slug %}
                                                    {% endif %}">
                                                    {% autoescape off %}
                                                        {% if events.headline %}{{ events.headline }}{% else %}{{ events.name }}{% endif %}
                                                    {% endautoescape %}
                                                </a></h5>
                                                <h6 class="card-date"> 
                                                    <split class="card-day"><b>{{ events.date }}</b></split> 
                                                    <split class="card-time">{{ events.time_start }} - {{ events.time_end }}</split> </h6> 
                                                <h6 class="event-place"> {{ events.place }} </h6>
                                                <h6 class="event-place"> {{ events.speakers }} </h6>
                                                {% autoescape off %}
                                                    {% if events.bodyline %}
                                                        {{ events.bodyline }}
                                                    {% else %}
                                                        <p class="card-text">{{ events.description|truncatechars:625 }}</p>
                                                    {% endif %}
                                                {% endautoescape %}
                                                
                                                <p class="card-text">
                                                    <small class="text-muted">{% if events.tags %} 
                                                        {{ events.tags }}
                                                        {% else %}
                                                        {% endif %}
                                                    </small>
                                                </p>
                                                <p>
                                                    {% if events.town %}{{ events.town }}{% endif %} {% if events.street %}{{ events.street }}{% endif %} {% if events.cabinet %}{{ events.cabinet }}{% endif %}
                                                </p>
                                                <p>
                                                    {{ speakers }}
                                                </p> 
                                                {% block content %}{% endblock content %}

                                                {% if reviews %}
                                                    <div class="reviews">
                                                        {% if reviews|get_item:events.unique_id %}
                                                            <ul>
                                                                {% for review in reviews|get_item:events.unique_id %}
                                                                    <li>
                                                                        <h5>Отзыв:</h5>
                                                                        <p><strong>{{ review.user.last_name }} {{ review.user.first_name }} </strong> ({{ review.formatted_date }}):</p>
                                                                        <p>{{ review.comment }}</p>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
 
                    {% block favorite %}{% endblock favorite %}
                    {% block register %}{% endblock register %}
                    {% block form_events %}{% endblock form_events %}
					
				</div>
				<div class="col-lg-1"></div>
			</div>
		</div>
		{% endif %}
    </section>
   
    <pagination>
        {% if user.is_authenticated %}
            {% if event_card_views %}
                <nav aria-label="Page navigation example" >
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not event_card_views.has_previous %} disabled {% endif %}">
                            <a class="page-link" href="
                            {% if event_card_views.has_previous %}  
                                ?{% change_params page=event_card_views.previous_page_number %}
                            {% else %} 
                                #
                            {% endif %}">Назад </a>
                        </li>
                        {% for page in event_card_views.paginator.page_range %}		
                            {% if page >= event_card_views.number|add:-2 and page <= event_card_views.number|add:2 %}
                                <li class="page-item {% if event_card_views.number == page %} active {% endif %}">
                                    <a class="page-link" href="
                                    ?{% change_params page=page %}">
                                    {{ page }}</a>
                                </li>
                            {% endif %}		
                        {% endfor %}
                        <li class="page-item {% if not event_card_views.has_next %} disabled {% else %}{% endif %}">
                            <a class="page-link" href="
                            {% if event_card_views.has_next %}
                                ?{% change_params page=event_card_views.next_page_number %}
                            {% else %} 
                                #
                            {% endif %}">Следующая </a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        {% endif %}
    </pagination>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src={% static "js/bootstrap-datepicker.min.js" %}></script>
    <script src={% static "js/bootstrap-datepicker.ru.min.js" %}></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>


    <script src="{% static 'django_select2/django_select2.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.django-select2').djangoSelect2();
        });
    </script>
    {% block javascript_files %}

<!-- Notification ДОБАВЛЕНИЕ В ИЗБРАННЫЕ И УДАЛЕНИЕ ИЗ ИЗБРАННЫХ -->
<div id="favoriteNotification" class="notification" style="display: none;">
    <p></p>
</div>

<script>
    function initializeFavoriteButtons() {
        // Обработчик для добавления в избранное
        document.querySelectorAll('.add-to-cart').forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.preventDefault()
                const eventSlug = this.getAttribute('data-event-slug')
                const icon = this.querySelector('.heart-icon')
                const button = this
    
                fetch(`/bookmarks/events_add/${eventSlug}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ 'slug': eventSlug })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.added) {
                            icon.src = "{% static 'general/icons/heart_red.png' %}"
                            button.classList.remove('add-to-cart')
                            button.classList.add('remove-from-favorites')
                            button.setAttribute('data-event-id', data.event_id)
                            showNotification("Добавлено в избранное")
                        } else {
                            icon.src = "{% static 'general/icons/heart.svg' %}"
                            button.classList.remove('remove-from-favorites')
                            button.classList.add('add-to-cart')
                            button.removeAttribute('data-event-id')
                            showNotification("Удалено из избранного")
                        }
                    })
                    .catch(error => console.error('Error:', error))
            })
        })
    
        // Обработчик для удаления из избранного
        document.querySelectorAll('.remove-from-favorites').forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.preventDefault()
                const eventId = this.getAttribute('data-event-id')
                const buttonElement = this
                const icon = this.querySelector('.heart-icon')
    
                fetch(`/bookmarks/events_remove/${eventId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ 'id': eventId })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.removed) {
                            icon.src = "{% static 'general/icons/heart.svg' %}"
                            buttonElement.classList.remove('remove-from-favorites')
                            buttonElement.classList.add('add-to-cart')
                            buttonElement.removeAttribute('data-event-id')
                            showNotification("Удалено из избранного")
                        } else {
                            console.error('Ошибка:', data.error)
                        }
                    })
                    .catch(error => console.error('Ошибка:', error))
            })
        })
    }
    
    function showNotification(message) {
        const notification = document.getElementById('favoriteNotification')
        notification.querySelector('p').textContent = message
        notification.style.display = 'block'
        setTimeout(() => {
            notification.classList.add('fade-in')
        }, 10)
    
        setTimeout(function () {
            notification.classList.remove('fade-in')
            notification.classList.add('fade-out')
    
            setTimeout(function () {
                notification.style.display = 'none'
                notification.classList.remove('fade-out')
            }, 700)
        }, 1000)
    }
    
    document.addEventListener('DOMContentLoaded', function () {
        initializeFavoriteButtons()
    })
</script>

<!-- Notification for Registration -->
<div id="registrationNotification" class="notification" style="display: none;">
    <p></p>
</div>

<script>
    function initializeRegistrationButtons() {
        document.querySelectorAll('.btn-sent_app').forEach(function(button) {
            button.removeEventListener('click', handleRegister);
            button.addEventListener('click', handleRegister);
        });

        document.querySelectorAll('.btn-remove_app').forEach(function(button) {
            button.removeEventListener('click', handleUnregister);
            button.addEventListener('click', handleUnregister);
        });
    }

    function handleRegister(event) {
        event.preventDefault();
        const eventSlug = this.getAttribute('data-event-slug');
        const buttonElement = this;

        fetch(`/bookmarks/events_registered/${eventSlug}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ 'slug': eventSlug })
        })
        .then(response => response.json())
        .then(data => {
            if (data.added) {
                buttonElement.classList.remove('btn-danger', 'btn-sent_app');
                buttonElement.classList.add('btn-light', 'btn-remove_app');
                buttonElement.innerHTML = 'Отмена регистрации';
                buttonElement.setAttribute('data-event-id', data.event_id);
                buttonElement.removeAttribute('data-event-slug');
                showRegistrationNotification("Зарегистрировано");
                initializeRegistrationButtons();
            } else {
                console.error('Ошибка при регистрации:', data.error);
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function handleUnregister(event) {
        event.preventDefault();
        const eventId = this.getAttribute('data-event-id');
        const buttonElement = this;

        fetch(`/bookmarks/registered_remove/${eventId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ 'id': eventId })
        })
        .then(response => response.json())
        .then(data => {
            if (data.removed) {
                buttonElement.classList.remove('btn-light', 'btn-remove_app');
                buttonElement.classList.add('btn-danger', 'btn-sent_app');
                buttonElement.innerHTML = 'Регистрация';
                buttonElement.setAttribute('data-event-slug', data.event_slug);
                buttonElement.removeAttribute('data-event-id');
                showRegistrationNotification("Регистрация отменена");
                initializeRegistrationButtons();
            } else {
                console.error('Ошибка при отмене регистрации:', data.error);
            }
        })
        .catch(error => console.error('Ошибка:', error));
    }

    function showRegistrationNotification(message) {
        const notification = document.getElementById('registrationNotification');
        notification.querySelector('p').textContent = message;
        notification.style.display = 'block';
        setTimeout(() => {
            notification.classList.add('fade-in');
        }, 10);

        setTimeout(function() {
            notification.classList.remove('fade-in');
            notification.classList.add('fade-out');

            setTimeout(function() {
                notification.style.display = 'none';
                notification.classList.remove('fade-out');
            }, 700);
        }, 1000);
    }

    document.addEventListener('DOMContentLoaded', function() {
        initializeRegistrationButtons();
    });
</script>


<style>
    .notification {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%) translateY(-20px);
        width: auto;
        max-width: 300px;
        padding: 15px;
        background-color: #4caf50;
        color: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: opacity 0.5s ease, transform 0.5s ease;
        z-index: 1000;
    }
    .notification p {
        margin: 0;
    }
    .notification.fade-in {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    .notification.fade-out {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
</style>

<!-- Notification -->
<div id="reviewNotification" class="notification" style="display: none;">
    <p></p>
</div>

<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">Оставить отзыв</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="commentForm">
                    <input type="hidden" id="eventId" name="event_id">
                    <input type="hidden" id="modelType" name="model_type">
                    <div class="mb-3">
                        <label for="commentText" class="form-label">Ваш отзыв</label>
                        <textarea class="form-control" id="commentText" name="comment" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
                
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.btn-comment').forEach(function(button) {
            button.addEventListener('click', function() {
                const eventId = this.getAttribute('data-event-id');
                const modelType = this.getAttribute('data-model-type');
                document.getElementById('eventId').value = eventId;
                document.getElementById('modelType').value = modelType;
                const modal = new bootstrap.Modal(document.getElementById('commentModal'));
                modal.show();
            });
        });

        document.getElementById('commentForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const eventId = document.getElementById('eventId').value;
            const modelType = document.getElementById('modelType').value;
            const formData = new FormData(this);
            formData.append('model_type', modelType);
            const csrftoken = getCookie('csrftoken');

            let url = '';
            if (modelType === 'attractions' || modelType === 'for_visiting') {
                url = `/events_cultural/submit_review/${eventId}/`;
            } else if (modelType === 'offline' || modelType === 'online') {
                url = `/events_available/submit_review/${eventId}/`;
            }

            fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    showNotification(`Отзыв добавлен: ${data.formatted_date}`);
                    document.getElementById('commentForm').reset();
                    const modal = bootstrap.Modal.getInstance(document.getElementById('commentModal'));
                    modal.hide();
                } else {
                    showNotification(data.message, true);
                }
            })
            .catch(error => console.error('Error:', error));
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function showNotification(message, isError = false) {
            const notification = document.getElementById('reviewNotification');
            notification.querySelector('p').textContent = message;
            notification.style.display = 'block';
            notification.style.backgroundColor = isError ? '#f44336' : '#4caf50';
            setTimeout(() => {
                notification.classList.add('fade-in');
            }, 10);

            setTimeout(function() {
                notification.classList.remove('fade-in');
                notification.classList.add('fade-out');

                setTimeout(function() {
                    notification.style.display = 'none';
                    notification.classList.remove('fade-out');
                }, 500);
            }, 2000);
        }
    });
</script>

<style>
    .notification {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%) translateY(-20px);
        width: auto;
        max-width: 300px;
        padding: 15px;
        background-color: #4caf50;
        color: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: opacity 0.5s ease, transform 0.5s ease;
        z-index: 1000;
    }
    .notification p {
        margin: 0;
    }
    .notification.fade-in {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    .notification.fade-out {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
</style>


    {% endblock javascript_files %}
</body>
</html>
