{% load static %}
{% load events_cultural_tags %}
{% load events_available_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
        <link rel="stylesheet" href="{% static "css/card.css" %}">
        <link rel="stylesheet" href="{% static "css/notification.css" %}">
        <link rel="stylesheet" href="{% static "css/related-events.css" %}">
        {% comment %} <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet"> {% endcomment %}
        <script src="{% static "lib/js/hammer.js" %}"></script>


        <style>
            .popup-form {
                display: none;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #fff;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                z-index: 1000;
                width: 400px;
                max-width: 90%;
            }
        
            .overlay {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                z-index: 999;
            }
        
            .popup-form h2 {
                text-align: center;
                margin: 0;
                padding: 10px;
                position: relative;
            }
        
            .popup-form .close-btn {
                position: absolute;
                top: 10px;
                right: 10px;
                background: none;
                border: none;
                font-size: 20px;
                cursor: pointer;
                color: #000;
            }
        
            .popup-form textarea {
                width: 100%;
                margin-top: 10px;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                resize: none;
            }
        
            .popup-form form button[type="button"] {
                display: block;
                margin: 20px auto 0;
                padding: 10px 20px;
                border: none;
                background: #007bff;
                color: #fff;
                border-radius: 5px;
                cursor: pointer;
                text-align: center;
            }
        
            .popup-form form button[type="button"]:hover {
                background: #0056b3;
            }
        </style>

		<title>Мероприятие</title>
	</head>

    <body style="background-image: url({% static "images/background.jpg" %});">
        <header>
            <nav class="navbar navbar-expand-lg bg-dark text-white">
                <div class="container-fluid">
                    <a class="navbar-brand" href={% url "main:index" %}><img class="home-icon" src="{% static 'icons/home.png' %}" alt="Home" width="25" height="25"></a> 
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Доступные мероприятия
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href={% url "events_available:online" %}>
                                        Онлайн мероприятия</a></li>
                                    <li><a class="dropdown-item" href={% url "events_available:offline" %}>
                                        Оффлайн мероприятия</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Культурные мероприятия
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href={% url "events_cultural:attractions" %}>Достопримечательности</a></li>
    
                                    <li><a class="dropdown-item" href={% url "events_cultural:events_for_visiting" %}>Доступные к посещению</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white calendar" aria-current="page" href={% url "events_calendar:index" %}>Календарь мероприятий</a>
                            </li>
    
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"> Мой профиль </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item text-black" href="{% url 'users:profile' %}">Личный
                                            кабинет</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-black" href={% url "bookmarks:registered" %}>Зарегистрированные</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-black" href="{% url 'bookmarks:favorites' %}">Избранные</a>
                                    </li>
                                    {% comment %} <li>
                                        <a class="dropdown-item text-black" href="{% url 'bookmarks:events_attended' %}">Посещенные</a>
                                    </li> {% endcomment %}
                                    {% if user.is_staff %}
                                        {% if user.is_admin or user.is_superuser %}
                                            <li>
                                                <a class="dropdown-item text-black" href="{% url 'admin:index' %}">Админ панель</a>
                                            </li>
                                        {% endif %}
                                    <li>
                                        <a class="dropdown-item text-black" href="{% url 'personal:personal' %}">Кабинет организатора</a>
                                    </li>
                                    {% endif %}
                                    <li><hr class="dropdown-divider" /></li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a>
                                    </li>
                                </ul>
                            </li>
    
    
                        </ul>
                        <form class="d-flex" role="search" action="{% if name_page == 'Онлайн' %}{% url "events_available:search_online" %}{% elif name_page == 'Оффлайн' %}{% url "events_available:search_offline" %}{% elif name_page == 'Доступные к посещению' %}{% url "events_cultural:search_events_for_visiting" %}{% elif name_page == 'Достопримечательности' %}{% url "events_cultural:search_attractions" %}{% elif name_page == 'Все мероприятия' %}{% url "main:search_all" %}{% endif %}" method="get">
                            <input class="form-control search me-2 " type="search" name="q" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">
                                <img src="{% static "icons/search.png" %}" alt="S" style="height: 20px; width: 20px;" margin-top: 0;> 
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>
        <main class="row">
            <div class="col-lg-1 left-column"></div>
            <div class="col-lg-10 feed" style="padding: 0; text-indent: 0;">
                <section class="event-page-section" style="width: 100%;">
                    <a href="javascript:void(0);" onclick="goBack()" class="to-main">
                        <img src="{% static "icons/back_home.png" %}" alt="" class="large-to-main-arrow">
                        <img src="{% static "icons/arrow-left.png" %}" alt="<--" class="small-to-main-arrow">
                    </a>
                    <script>
                        function goBack() {
                            const referrer = document.referrer; // Получаем URL предыдущей страницы
                            
                            if (referrer && referrer !== window.location.href) {
                                // Если есть реферер и он не равен текущему URL, возвращаемся назад
                                window.history.back();
                            } else {
                                // Если реферер пуст или равен текущему URL, переходим на главную страницу
                                window.location.href = "{% url 'main:index' %}";
                            }
                        }
                    </script>

                    <div class="event-page-image" style="padding: 0; text-indent: 0;">
                        {% if event.category == 'Онлайн' %}
                            <img class="img-desktop" src="{% static "images/online_event_header.png" %}" alt="" style="width: 100%;">  
                            <img class="img-mobile" src="{% static "images/online_event_header_mobile.png" %}" alt="" style="width: 100%;">
                        {% elif event.category == 'Оффлайн' %}
                            <img class="img-desktop" src="{% static "images/offline_event_header.png" %}" alt="" style="width: 100%;">  
                            <img class="img-mobile" src="{% static "images/offline_event_header_mobile.png" %}" alt="" style="width: 100%;">
                        {% elif event.category == 'Доступные к посещению' %}
                            <img class="img-desktop" src="{% static "images/for_visiting_header.png" %}" alt="" style="width: 100%;">  
                            <img class="img-mobile" src="{% static "images/for_visiting_header_mobile.png" %}" alt="" style="width: 100%;">
                        {% elif event.category == 'Достопримечательности' %}
                            <img class="img-desktop" src="{% static "images/attraction_header.png" %}" alt="" style="width: 100%;">  
                            <img class="img-mobile" src="{% static "images/attraction_header_mobile.png" %}" alt="" style="width: 100%;">
                        {% endif %}
                    </div>
                    <h1>{{ event.name }}</h1>

                    <div class="main-image-mobile" style="text-align: center; text-indent: 0;">
                        <div class="image-wrapper">
                            {% if event.image %}
                                <img src="{{ event.image.url }}" alt="">
                            {% else %}
                                <img src="{% static "general/images/img.png" %}" alt="">
                            {% endif %}
                    
                            <a href="#" class="add-to-cart-big to-cart-big-2 {% if event.slug in favorites %}card-remove-from-favorites{% else %}card-add-to-favorites{% endif %}" data-event-slug="{{ event.slug }}">

                                <img class="heart-icon {% if event.slug in favorites %}hidden{% endif %}" src="{% static "icons/heart_blue.svg" %}" alt="">

                                <img class="heart-red-icon-card {% if event.slug not in favorites %}hidden{% endif %}" src="{% static "icons/heart_red.png" %}" alt="" style="max-height: 25px;"> 
                            </a>
                        </div>
                    </div>

                    
                    <div class="row mt-3" style="margin-bottom: 0; height: 100%; margin-top: 0;">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10 px-3 px-lg-0">
                            <div class="row mb-3 mob-row">
                                <div class="col-lg-6 about-event" style="text-indent: 0;">
                                    <h2 class="what-awaits-header"> Что вас ждет</h2>
                                    <div class="text-container" data-description="{{ event.description|escapejs }}">
                                        <!-- Текст будет добавлен динамически -->
                                    </div>
                                    <div class="button-container">
                                        <button class="prev-btn"><img src="{% static "icons/arrow-left.png" %}"
                                                alt="<--"></button>
                                        <div style="display: flex; vertical-align: middle;">
                                            <div class="indicators"></div>
                                        </div>
                                        <button class="next-btn"><img src="{% static "icons/arrow-right.png" %}"
                                                alt="-->"></button>
                                    </div>
                                </div>

                                <div class="col-lg-6">

                                    
                                 
    
                                    <div class="main-image">
                                        {% if event.image %}
                                            <img src="{{ event.image.url }}" alt="">   
                                        {% else %} 
                                            <img src="{% static "images/no_photo.png" %}" alt="" class="preview-photo">
                                        {% endif %}

                                        <a href="#" class="add-to-cart-big to-cart-big-1 {% if event.slug in favorites %}card-remove-from-favorites{% else %}card-add-to-favorites{% endif %}" data-event-slug="{{ event.slug }}">
                                            <img class="mx-1 heart-icon {% if event.slug in favorites %}hidden{% endif %}"
                                                 src="{% static 'icons/heart_blue.svg' %}" width="32" height="32" alt="">
                                            <img class="mx-1 heart-red-icon-card {% if event.slug not in favorites %}hidden{% endif %}"
                                                 src="{% static 'icons/heart_red.png' %}" width="32" height="32" alt="">
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 right-column" style="padding: 0;"></div>
                            {% comment %} <div class="blocks"> {% endcomment %}
                            
                            <div class="carousel-container">
                                <div class="carousel-btn-wrapper">
                                    <button class="carousel-btn left">‹</button>
                                </div>

                                <div class="carousel-wrapper">
                                    <div class="carousel-track" id="carousel-track">
                                        
                                        {% block content_card %}{% endblock content_card %}
                                    </div>
                                </div>

                                <div class="carousel-btn-wrapper">
                                    <button class="carousel-btn right">›</button>
                                </div>
                            </div>




                                {% comment %} <div class="col-lg-1"></div> {% endcomment %}
                                <div class="col-12 mt-3 carousel-container-mobile">
                                    <div class="carousel-wrapper-mobile">
                                    <button class="carousel-btn-mobile left">‹</button>

                                    <div id="carousel-track-mobile" class="carousel-track-mobile">
                                        {% block content_card_mobile %}{% endblock content_card_mobile %} 
                                    </div>

                                    <button class="carousel-btn-mobile right">›</button>
                                    </div>
                                </div>
                                {% comment %} <div class="col-lg-1"></div> {% endcomment %}

                            {% if event.documents %}
                                <div style="text-align: center; text-indent: 0;" class="docs">
                                    <img src="{% static "icons/paperclip.png" %}" alt="" style="max-height: 30px; width: auto;"
                                        class="paperclip"><a class="docs-link" href="{{ event.documents.url }}" target="_blank"
                                        download>Программа мероприятия</a>
                                </div>
                            {% endif %}

                            {% if event.tags %}
                                <div class="event-hashtags">
                                    <div class="hashtags">
                                        <span>{{event.tags}}</span>
                                    </div>
                                </div>
                            {% endif %}

                        
                            {% if event.gallery and event.gallery.all %}
                                <h2 class="gallery">фотогалерея </h2>
                                <div class="slide-container">
                                    
                                    {% for photo in event.gallery.all %}
                                        <div class="slide {% if forloop.first %}active{% endif %}">
                                            <img src="{{photo.image.url}}" alt=''>
                                        </div>
                                    {% endfor %}
                                    {% if event.gallery.all.count > 1 %}
                                        <div class="prev" title="Previous"><img src="{% static "icons/arrow-left.png" %}" alt="<--">
                                        </div>
                                        <div class="next" title="Next"><img src="{% static "icons/arrow-right.png" %}" alt="-->">
                                        </div>
                                    {% endif %}
                                </div>
                            
                            
                                <div class="dots-container" style="opacity: 0;">
                                    <span class="dot active"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                </div>
                            {% endif %}
                            {% comment %} {% if reviews|get_item:event.unique_id|length > 0 %} {% endcomment %}
                            <h2 class="comment-title" style="{% if reviews|get_item:event.unique_id|length < 1 %} display: none;{% endif %}">что о нас говорят</h2>
                            <div class="half-stars" style="{% if reviews|get_item:event.unique_id|length < 1 %} display: none;{% endif %}">

                            

                                {% comment %} <div class="rating-overlay-card" data-event-id="{{ event.id }}"> {% endcomment %}
                                <div class="rating-overlay rating-overlay-card" data-event-id="{{ event.id }}">

                                    <div class="half-stars half-stars-static">
                                        <div class="ranting-count">{{ reviews_avg|get_item:event.id|floatformat:1|default:"0.0" }}</div>
                                    
                                        <div class="rating-group-static">
                                        <!-- по умолчанию 0 -->
                                        <input disabled checked name="hsr" value="0" type="radio">

                                        <!-- рейтинг 0.5 -->
                                        {% comment %} <input disabled name="hsr" id="hsr1-05" value="0.5" type="radio">
                                            <label class="hsr" for="hsr1-05">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                            <path
                                                                d="M288 0c-11.4 0-22.8 5.9-28.7 17.8L194 150.2 47.9 171.4c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.1 23 46 46.4 33.7L288 439.6V0z" />
                                                        </svg>
                                        </label> {% endcomment %}

                                        <!-- рейтинг 5 -->
                                        <input disabled name="hsr" id="hsr1-50" value="5" type="radio">
                                            <label for="hsr1-50">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                            <path
                                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                        </svg>
                                        </label>

                                        <!-- рейтинг 4.5 -->
                                        <input disabled name="hsr" id="hsr1-45" value="4.5" type="radio">
                                            <label class="hsr" for="hsr1-45">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                            <path
                                                                d="M288 0c-11.4 0-22.8 5.9-28.7 17.8L194 150.2 47.9 171.4c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.1 23 46 46.4 33.7L288 439.6V0z" />
                                                        </svg>
                                        </label>

                                        <!-- рейтинг 4 -->
                                        <input disabled name="hsr" id="hsr1-40" value="4" type="radio">
                                            <label for="hsr1-40">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                            <path
                                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                        </svg>
                                        </label>

                                        <!-- рейтинг 3.5 -->
                                        <input disabled name="hsr" id="hsr1-35" value="3.5" type="radio">
                                            <label class="hsr" for="hsr1-35">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                            <path
                                                                d="M288 0c-11.4 0-22.8 5.9-28.7 17.8L194 150.2 47.9 171.4c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.1 23 46 46.4 33.7L288 439.6V0z" />
                                                        </svg>
                                        </label>

                                        <!-- рейтинг 3 -->
                                        <input disabled name="hsr" id="hsr1-30" value="3" type="radio">
                                            <label for="hsr1-30">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                            <path
                                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                        </svg>
                                        </label>

                                        <!-- рейтинг 2.5 -->
                                        <input disabled name="hsr" id="hsr1-25" value="2.5" type="radio">
                                            <label class="hsr" for="hsr1-25">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                            <path
                                                                d="M288 0c-11.4 0-22.8 5.9-28.7 17.8L194 150.2 47.9 171.4c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.1 23 46 46.4 33.7L288 439.6V0z" />
                                                        </svg>
                                        </label>

                                        <!-- рейтинг 2 -->
                                        <input disabled name="hsr" id="hsr1-20" value="2" type="radio">
                                            <label for="hsr1-20">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                            <path
                                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                        </svg>
                                        </label>

                                        <!-- рейтинг 1.5 -->
                                        <input disabled name="hsr" id="hsr1-15" value="1.5" type="radio">
                                            <label class="hsr" for="hsr1-15">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                            <path
                                                                d="M288 0c-11.4 0-22.8 5.9-28.7 17.8L194 150.2 47.9 171.4c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.1 23 46 46.4 33.7L288 439.6V0z" />
                                                        </svg>
                                        </label>

                                        <!-- рейтинг 1 -->
                                        <input disabled name="hsr" id="hsr1-10" value="1" type="radio">
                                            <label for="hsr1-10">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                            <path
                                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                        </svg>
                                        </label>

                                        

                                        

                                        

                                        

                                        

                                        



                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="review-container review-container-large" style="text-indent: 0;">
                                    <div class="items">
                                        {% for review in reviews|get_item:event.unique_id|dictsortreversed:"date_submitted" %}
                                            <div class="item item{{forloop.counter}}">
                                                <div class="review">
                                                    <div class="user-info">
                                                        <div class="user-icon">
                                                            {% if review.user.profile_photo %}
                                                                <img src="{{ review.user.profile_photo.url }}" alt="">
                                                            {% else %}
                                                                <img src="{% static "icons/profile-image-default.png" %}" alt="">
                                                            {% endif %}
                                                        </div>
                                                        <div class="username">{{ review.user.last_name }} <br> {{ review.user.first_name }}</div>
                                                        <div class="review-date-submitted">{{ review.formatted_date }}</div> 
                                                        {% comment %} <div class="full-stars-com">
                                                            <div class="rating-group-com">
                                                                <!-- по умолчанию 0 -->
                                                                <input name="fst" value="0" type="radio" disabled checked />
            
                                                                <!-- рейтинг 1 -->
                                                                <label for="fst-1">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                                        <path
                                                                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                                    </svg>
                                                                </label>
                                                                <input name="fst" id="fst-1" value="1" type="radio" />
            
                                                                <!-- рейтинг 2 -->
                                                                <label for="fst-2">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                                        <path
                                                                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                                    </svg>
                                                                </label>
                                                                <input name="fst" id="fst-2" value="2" type="radio" />
            
                                                                <!-- рейтинг 3 -->
                                                                <label for="fst-3">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                                        <path
                                                                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                                    </svg>
                                                                </label>
                                                                <input name="fst" id="fst-3" value="3" type="radio" />
            
                                                                <!-- рейтинг 4 -->
                                                                <label for="fst-4">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                                        <path
                                                                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                                    </svg>
                                                                </label>
                                                                <input name="fst" id="fst-4" value="4" type="radio" />
            
                                                                <!-- рейтинг 5 -->
                                                                <label for="fst-5">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                                        <path
                                                                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                                    </svg>
                                                                </label>
                                                                <input name="fst" id="fst-5" value="5" type="radio" />
                                                            </div>
                                                        </div> {% endcomment %}
                                                    </div>
                                                    <div class="review-block .review-block-existent-review-card">
                                                        <div class="review-text"
                                                            style="overflow-wrap: break-word; word-wrap: break-word;  min-width: 0; white-space: normal;">
                                                            {{ review.comment }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="prev-reviews" style="{% if reviews|get_item:event.unique_id|length < 1 %} display: none;{% endif %}" title="Previous"><img src="{% static "icons/arrow-left.png" %}"
                                            alt="<--"></div>
                                    <div class="next-reviews" style="{% if reviews|get_item:event.unique_id|length < 1 %} display: none;{% endif %}" title="Next"><img src="{% static "icons/arrow-right.png" %}"
                                            alt="-->"></div>
                                </div>
                            

                                <div class="comments-mobile" style="{% if reviews|get_item:event.unique_id|length < 1 %} display: none;{% endif %}">
                                    {% for review in reviews|get_item:event.unique_id|dictsortreversed:"date_submitted" %}
                                        <div class="review-container-mobile">
                                            <div class="user-info-mobile">
                                                <div class="user-icon-mobile"><img
                                                    {% if review.user.profile_photo %}
                                                        <img src="{{ review.user.profile_photo.url }}" alt="">
                                                    {% else %}
                                                        <img src="{% static "icons/profile-image-default.png" %}" alt="">
                                                    {% endif %}
                                                </div>
                                                <div class="username-mobile">{{ review.user.last_name }} {{ review.user.first_name }}</div>
                                                <div class="review-date-submitted-mobile">{{ review.formatted_date }}</div> 
                                                {% comment %} <div class="full-stars-com">
                                                    <div class="rating-group-com">
                                                        <!-- по умолчанию 0 -->
                                                        <input name="fst" value="0" type="radio" disabled checked />
            
                                                        <!-- рейтинг 1 -->
                                                        <label for="fst-1">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                                <path
                                                                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                            </svg>
                                                        </label>
                                                        <input name="fst" id="fst-1" value="1" type="radio" />
            
                                                        <!-- рейтинг 2 -->
                                                        <label for="fst-2">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                                <path
                                                                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                            </svg>
                                                        </label>
                                                        <input name="fst" id="fst-2" value="2" type="radio" />
            
                                                        <!-- рейтинг 3 -->
                                                        <label for="fst-3">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                                <path
                                                                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                            </svg>
                                                        </label>
                                                        <input name="fst" id="fst-3" value="3" type="radio" />
            
                                                        <!-- рейтинг 4 -->
                                                        <label for="fst-4">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                                <path
                                                                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                            </svg>
                                                        </label>
                                                        <input name="fst" id="fst-4" value="4" type="radio" />
            
                                                        <!-- рейтинг 5 -->
                                                        <label for="fst-5">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                                <path
                                                                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                                            </svg>
                                                        </label>
                                                        <input name="fst" id="fst-5" value="5" type="radio" />
                                                    </div>
                                                </div> {% endcomment %}
                                            </div>
                                            <div class="review-content-mobile">
                                                <div class="review-text review-text-mobile">{{ review.comment }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                </div>

                            {% comment %} {% endif %} {% endcomment %}
                            </div>

                            
                            
                            
                            {% if event.users_chat_link %}
                                <div style="text-align: center; text-indent: 0;" class="docs">
                                    <img src="{% static "icons/tg-link.png" %}" alt="" style="max-height: 30px; width: auto;"
                                        class="paperclip"><a class="telegram-link" href="{{ event.users_chat_link }}" target="_blank">Чат в
                                        telegram</a>
                                </div>
                            {% endif %}
                         
                            <div class="row mob-row justify-content-center">
                                <div class="col-12 col-lg-6 main-buttons">
                                    {% block content %}{% endblock content %}
                                </div>
                            </div>

                            <div class="row mob-row justify-content-center">
                                {% block related_events %}{% endblock related_events %}
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
            </div>
            </section>
            <div class="modal" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-modal="true"
                role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="commentModalLabel">Оставить отзыв</h5>
                            <button type="button" class="button-close" data-bs-dismiss="modal" aria-label="Close">
                                <img src="{% static "icons/close-button.png" %}" alt="">
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="commentForm">
                                <input type="hidden" id="eventId" name="event_id" value="7">
                                <input type="hidden" id="modelType" name="model_type" value="online">
    
                                <!-- Контейнер для оценки и звезд -->
                                <div style="text-indent: 0;">
                                    <div class="rating-container">
                                        <label for="commentText" class="form-label"
                                            style="text-indent: 0; margin-right: 10px;">Оценка:</label>
                                        <div class="full-stars">
                                            <div class="rating-group">
                                                
                                                
                                                    
                                                    <!-- рейтинг 1 -->    
                                                    <input name="rating" id="rating-5" value="5" type="radio" />
                                                    <label for="rating-5">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                                                    </label>
                                                    
                                                    <!-- рейтинг 2 -->    
                                                    <input name="rating" id="rating-4" value="4" type="radio" />
                                                    <label for="rating-4">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                                                    </label>

                                                    <!-- рейтинг 3 -->    
                                                    <input name="rating" id="rating-3" value="3" type="radio" />
                                                    <label for="rating-3">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                                                    </label>

                                                    <!-- рейтинг 4 -->    
                                                    <input name="rating" id="rating-2" value="2" type="radio" />
                                                    <label for="rating-2">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                                                    </label>

                                                    <!-- рейтинг 5 -->    
                                                    <input name="rating" id="rating-1" value="1" type="radio" />
                                                    <label for="rating-1">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                                                    </label>

                                                    <!-- по умолчанию 0 -->
                                                    <input name="rating" value="0" type="radio" disabled checked />
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- Поле для отзыва -->
                                <div class="mb-3" style="text-indent: 0;">
                                    <label for="commentText" class="form-label" style="text-indent: 0;">Ваш отзыв:</label>
                                    <textarea class="form-control" id="commentText" name="comment" rows="3"></textarea>
                                </div>
    
                                <!-- Кнопка отправки -->
                                <button type="submit" class="btn btn-outline-success">Отправить</button>
                            </form>
    
                        </div>
                    </div>
                </div>
            </div>
    
            <div id="modal-qr" class="modal">
                <div class="modal-content-photo" style="text-indent: 0;">
                    <span id="closeModal" class="close">&times;</span>
                    {% if event.qr %}
                        <img src="{{ event.qr.url }}" alt="QR-код" style="max-width: 300px; height: auto;">
                    {% endif %}
                </div>
            </div>
    
        </main>

        <script src="{% static 'js/textSanitizer.js' %}"></script>
        
        <script src="{% static "js/events_registration.js" %}"></script>

        <script src="{% static "js/rating_script.js" %}"></script>
    
        <script src="{% static "js/create_comment.js" %}"></script>
    
        <script src="{% static "js/qr_modal_script.js" %}"></script>
    
        <script src="{% static "js/comment_slide_script.js" %}"></script>
    
        <script src="{% static "js/page_indicator_script.js" %}"></script>
    
        <script src="{% static "js/gallery_slider_script.js" %}"></script>
    
        <script src="{% static "js/review_slider_script.js" %}"></script>

        <script src="{% static "js/card_like.js" %}"></script>

        <script src="{% static 'lib/js/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        

        <script>
            // Открытие
            document.querySelectorAll('.btn-support').forEach(button => {
                button.addEventListener('click', function () {
                    const eventId = this.getAttribute('data-event-id');
                    const modelType = this.getAttribute('data-model-type');
            
                    const form = document.getElementById('feedbackForm');
                    form.setAttribute('data-event-id', eventId);
                    form.setAttribute('data-model-type', modelType);
            
                    document.getElementById('popup-form').style.display = 'block';
                    document.getElementById('overlay').style.display = 'block';
                });
            });
            
        
            // Закрытие
            function closeForm() {
                document.getElementById('popup-form').style.display = 'none';
                document.getElementById('overlay').style.display = 'none';
            }
        
            // Отправка сообщения
            function sendFeedback() {
                const message = document.getElementById('message').value;
                if (!message.trim()) {
                    alert('Пожалуйста, введите сообщение');
                    return;
                }
        
                const form = document.getElementById('feedbackForm');
                const eventId = form.getAttribute('data-event-id');
                const modelType = form.getAttribute('data-model-type');
        
                fetch('/users/event_support_request/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        event_id: eventId,
                        model_type: modelType,
                        question: message
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Сообщение успешно отправлено');
                        closeForm();
                    } else {
                        alert(data.error || 'Произошла ошибка при отправке сообщения');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Произошла ошибка при отправке сообщения');
                });
            }
        </script>
    

        <div id="overlay" class="overlay" onclick="closeForm()"></div>

        <div id="popup-form" class="popup-form">
            <h2>Связь с организатором
                <button class="close-btn" onclick="closeForm()">×</button>
            </h2>
            <form id="feedbackForm">
                <textarea id="message" placeholder="Ваш вопрос..." rows="5"></textarea>
                <button type="button" onclick="sendFeedback()">Отправить</button>
            </form>
        </div>



        <!-- Notification ДОБАВЛЕНИЕ В ИЗБРАННЫЕ И УДАЛЕНИЕ ИЗ ИЗБРАННЫХ -->
        <div id="favoriteNotification" class="notification-toast" style="display: none;">
            <p></p>
        </div>

        <!-- Notification for Registration -->
        <div id="registrationNotification" class="notification-toast" style="display: none;">
            <p></p>
        </div>
    
        <!-- Notification for Review-->
        <div id="reviewNotification" class="notification-toast" style="display: none;">
            <p></p>
        </div>



        <script>
            document.addEventListener('DOMContentLoaded', function () {
                document.querySelectorAll('.rating-overlay-card').forEach(overlay => {
                const ratingText = overlay.querySelector('.ranting-count');
                if (!ratingText) return;
            
                const rawText = ratingText.innerText.trim().replace(',', '.');
                const raw = parseFloat(rawText) || 0;
                const rounded = Math.round(raw * 2) / 2;
            
                const inputs = overlay.querySelectorAll('.rating-group-static input[type="radio"]');
                const labels = overlay.querySelectorAll('.rating-group-static label');
            
                // Очистка
                labels.forEach(label => label.classList.remove('filled'));
            
                // Заполнение
                inputs.forEach(input => {
                    const val = parseFloat(input.value);
                    console.log('VALUE ', val)
                    console.log('Rounded ', rounded)

                    const label = overlay.querySelector(`label[for="${input.id}"]`);
                    if (val <= rounded) {
                    console.log('IF 1  ')

                    if (label) label.classList.add('filled');
                    console.log('IF 2  ')

                    } else {
                    }
                });
                });
            });
            
        </script>
    </body>

</html>























