body {
    background: #EDE6E6;
}

aside {
    float: left;
    background: #06132D;
    width: 20%;
    height: 100vh;
    padding: 2.5%
    min-height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

.mainBlock{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFF00;
    padding: 40px;
    border: 1px solid darkgray;
    border-radius: 5px;
    text-align: center;
}

aside img {
    width: 0px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3 {
    margin-top 50px;
    font-size: 28px;
}

aside ul {
    list-style: none;
}

aside ul li {
    color #fff;
    display: block;
    margin-top: 20px;
    transition: all .6s ease;
}

aside ul a:hover, aside ul li:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}